n8n/itsnomatata-codex-internal-ai.production.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "id": "218b405f-bdda-4652-bfba-18aa2fe59465",
      "name": "01 Chat Trigger - Frontend or n8n Chat",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -8144,
        17152
      ],
      "webhookId": "c7fb18e1-c99c-40ed-9734-af3f37fc149b"
    },
    {
      "parameters": {
        "jsCode": "const body = $json;\nconst rawInput = body.chatInput || body.message || body.text || body.output || '';\nconst clip = (value, max = 1200) => String(value || '').slice(0, max);\nconst stripInlineData = value => String(value || '').replace(/data:image\\/[a-zA-Z0-9.+-]+;base64,[A-Za-z0-9+/=]+/g, '[uploaded image data removed]');\nconst chatInput = stripInlineData(rawInput).slice(0, 12000);\nconst isSkippableLink = url => /supabase\\.com\\/dashboard|app\\.supabase\\.com|supabase\\.com\\/docs/i.test(url);\nconst extractedLinks = [...String(rawInput).matchAll(/https?:\\/\\/[^\\s)\\]\\\"'<>]+/gi)]\n  .map(m => m[0].replace(/[.,;]+$/, ''))\n  .filter(url => !isSkippableLink(url))\n  .filter((url, index, list) => list.indexOf(url) === index)\n  .slice(0, 6);\nconst rawAttachments = Array.isArray(body.attachments) ? body.attachments : [];\nconst attachmentSourcesForProcessing = rawAttachments.slice(0, 8).map((item, index) => {\n  const sourceUrl = String(item?.url || item?.download_url || item?.image_url || item?.publicUrl || item?.signedUrl || '');\n  const textContent = item?.textContent || item?.metadata?.textContent || null;\n  return {\n    index, type: item?.type || item?.file_type || 'file',\n    name: clip(item?.name || item?.file_name || 'attachment', 180),\n    mimeType: item?.mimeType || item?.mime_type || null,\n    url: sourceUrl, download_url: String(item?.download_url || sourceUrl || ''),\n    documentId: item?.documentId || item?.document_id || item?.metadata?.documentId || null,\n    textContent, textContentLength: typeof textContent === 'string' ? textContent.length : 0,\n  };\n});\nconst compactAttachment = (item, index) => {\n  const source = attachmentSourcesForProcessing[index] || {};\n  const url = String(source.url || ''); const download = String(source.download_url || url || '');\n  const safeUrl = url.startsWith('data:') && url.length > 2000 ? '[inline data removed]' : url.slice(0, 1200);\n  const safeDownload = download.startsWith('data:') && download.length > 2000 ? '[inline data removed]' : download.slice(0, 1200);\n  const textContent = source.textContent;\n  return { type: source.type || 'file', name: source.name || 'attachment', mimeType: source.mimeType || null, url: safeUrl, download_url: safeDownload, documentId: source.documentId || null, textPreview: typeof textContent === 'string' ? textContent.slice(0, 800) : null, textContentLength: typeof textContent === 'string' ? textContent.length : 0 };\n};\nconst safeAttachments = rawAttachments.slice(0, 8).map(compactAttachment);\nreturn [{ json: { ...body, chatInput, message: chatInput, sessionId: body.sessionId || body.conversationId || body.context?.userId || 'anonymous', conversationId: body.conversationId || null, context: body.context || {}, metadata: body.metadata || {}, attachments: safeAttachments, attachmentSources: safeAttachments, attachmentSourcesForProcessing, extractedLinks, action: body.action || 'sendMessage' }, binary: $binary }];"
      },
      "id": "bac3ae14-bd7a-4f6b-b820-35467514c36d",
      "name": "02 Normalize Chat Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7904,
        17152
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $('02 Normalize Chat Payload').first().json;\nconst context = request.context || {};\n\n// This node is intentionally local-first for manual tests. The frontend already sends\n// user context, so do not crash the workflow when Supabase enrichment is\n// not configured yet.\nreturn [{ json: {\n  ...request,\n  profile: {\n    id: context.userId || null,\n    full_name: context.fullName || null,\n    email: context.email || null,\n    primary_role: context.role || 'employee',\n    department: context.department || null,\n    organization_id: context.organizationId || null\n  },\n  supabaseContextStatus: context.userId ? 'frontend_context' : 'anonymous_or_manual_test'\n}}];"
      },
      "id": "013e18b2-d51b-4998-bfde-6545a1ac288f",
      "name": "03 Prepare User Context (Supabase Optional)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7664,
        17152
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $('03 Prepare User Context (Supabase Optional)').first().json;\nconst profile = request.profile || {};\nconst chatInput = request.chatInput || request.message || '';\nreturn [{ json: {\n  ...request,\n  chatInput,\n  message: chatInput,\n  context: {\n    ...request.context,\n    userId: request.context.userId || profile.id || 'anonymous',\n    fullName: request.context.fullName || profile.full_name || 'Workspace User',\n    email: request.context.email || profile.email || null,\n    role: request.context.role || profile.primary_role || 'employee',\n    department: request.context.department || profile.department || null,\n    organizationId: request.context.organizationId || profile.organization_id || 'workspace-default',\n    currentModule: request.context.currentModule || 'ai-workspace',\n    timezone: request.context.timezone || 'Africa/Harare',\n    channel: request.context.channel || 'web'\n  }\n}}];"
      },
      "id": "f3c67cf6-afcf-42b2-b6cb-7c3c27ae3edd",
      "name": "04 Merge Request + User Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7424,
        17152
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/functions/v1/codex-process-input' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "x-codex-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.chatInput || $json.message || '', chatInput: $json.chatInput || $json.message || '', attachments: $('02 Normalize Chat Payload').first().json.attachmentSourcesForProcessing || [], attachmentSources: $('02 Normalize Chat Payload').first().json.attachmentSourcesForProcessing || [], links: $json.extractedLinks || [], context: $json.context || {} }) }}",
        "options": {}
      },
      "id": "70d1c4a7-5b57-494d-807d-0add11d4f807",
      "name": "04b Codex Process Input",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7312,
        17152
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('04 Merge Request + User Context').first().json;\nconst processed = $json || {};\nconst clip = (value, max = 1200) => String(value || '').slice(0, max);\nconst rawIntakeBlock = typeof processed.intakeBlock === 'string' ? processed.intakeBlock.trim() : '';\nconst intakeBlock = rawIntakeBlock.slice(0, 10000);\nconst intakeItems = Array.isArray(processed.items) ? processed.items : [];\nconst compactItems = intakeItems.slice(0, 8).map((item, index) => {\n  const text = String(item?.text || item?.content || item?.markdown || '');\n  return { index, ok: item?.ok !== false, name: item?.name || item?.fileName || item?.title || ('attachment-' + (index + 1)), type: item?.type || item?.mimeType || item?.mime_type || null, textPreview: text.slice(0, 1200), textLength: text.length, error: item?.error || null };\n});\nconst hasUsableContent = processed.hasUsableContent === true || compactItems.some(item => item.ok === true && String(item.textPreview || '').trim().length >= 24);\nlet chatInput = base.chatInput || base.message || '';\nif (intakeBlock) chatInput = `${chatInput}\\n\\n${intakeBlock}`.slice(0, 14000);\nconst safeAttachments = Array.isArray(base.attachments) ? base.attachments.map(item => ({ type: item?.type || 'file', name: item?.name || 'attachment', mimeType: item?.mimeType || null, url: item?.url || '', download_url: item?.download_url || item?.url || '', documentId: item?.documentId || null, textPreview: clip(item?.textPreview, 800), textContentLength: Number(item?.textContentLength || 0) })) : [];\nreturn [{ json: { ...base, chatInput, message: chatInput, attachments: safeAttachments, attachmentSources: safeAttachments, attachmentSourcesForProcessing: undefined, intakeBlock, processedInput: { ok: processed.ok !== false, hasUsableContent, itemCount: intakeItems.length, items: compactItems, links: Array.isArray(processed.links) ? processed.links.slice(0, 8) : (base.extractedLinks || []).slice(0, 8), metaReportDetected: processed.metaReportDetected === true } }, binary: $('04 Merge Request + User Context').first().binary || $binary }];"
      },
      "id": "3482f606-786d-4380-866e-f4cb5849a7ab",
      "name": "04c Merge Processed Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7248,
        17152
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatInput = $json.chatInput || $json.message || '';\nconst message = chatInput.toLowerCase();\nconst intakeReady = $json.processedInput?.hasUsableContent === true;\nconst metaReportDetected = $json.processedInput?.metaReportDetected === true;\nconst extractedLinks = Array.isArray($json.extractedLinks) ? $json.extractedLinks : [];\nconst attachments = Array.isArray($json.attachments) ? $json.attachments : [];\nconst sources = Array.isArray($json.attachmentSources) ? $json.attachmentSources : [];\nconst contextAttachments = Array.isArray($json.context?.attachments) ? $json.context.attachments : [];\nconst previousAttachments = Array.isArray($json.context?.previousAttachments) ? $json.context.previousAttachments : [];\nconst metadataAttachments = Array.isArray($json.metadata?.attachments) ? $json.metadata.attachments : [];\nconst metadataPreviousAttachments = Array.isArray($json.metadata?.previousAttachments) ? $json.metadata.previousAttachments : [];\nconst rememberedImages = [$json.context?.lastGeneratedImage, $json.metadata?.lastGeneratedImage].filter(Boolean);\nconst allAttachments = [...attachments, ...sources, ...contextAttachments, ...previousAttachments, ...metadataAttachments, ...metadataPreviousAttachments, ...rememberedImages];\nconst mimeOrName = item => String(item?.mimeType || item?.mime_type || item?.type || item?.name || item?.url || item?.download_url || '').toLowerCase();\nconst hasImageAttachment = allAttachments.some(item => item?.type === 'image' || mimeOrName(item).startsWith('image/') || /\\.(png|jpe?g|webp|gif)(\\?|#|$)/i.test(String(item?.url || item?.download_url || item?.name || '')) || String(item?.url || item?.download_url || '').startsWith('data:image/'));\nconst hasDocumentAttachment = allAttachments.some(item => item?.type === 'document' || /pdf|text|markdown|csv|json|word|docx|xlsx|excel|spreadsheet|document|invoice|receipt|form/.test(mimeOrName(item)));\nconst isStructuredFileAttachment = allAttachments.some(item => /\\.(csv|xlsx|xls|tsv|docx?|txt|md)$/i.test(String(item?.name || '')) || /csv|spreadsheet|excel|word|docx|plain|tab-separated/i.test(mimeOrName(item)));\nconst isTabularAttachment = allAttachments.some(item => /\\.(csv|xlsx|xls|tsv)$/i.test(String(item?.name || item?.url || '')) || /csv|spreadsheet|excel/i.test(mimeOrName(item)));\nconst isPdfAttachment = allAttachments.some(item => /pdf/i.test(mimeOrName(item)) || item?.type === 'document' && /\\.pdf/i.test(String(item?.name || item?.url || '')));\nconst hasAnyAttachment = hasImageAttachment || hasDocumentAttachment || allAttachments.length > 0 || Object.keys($binary || {}).length > 0;\nconst hasMetaLink = metaReportDetected || extractedLinks.some(url => /business\\.facebook|facebook\\.com\\/ads|business\\.meta|adsmanager\\.facebook/i.test(String(url))) || /meta business|ads manager|facebook ads|instagram insights|campaign report|ad account report/i.test(message);\nconst editIntent = /\\b(edit|change|modify|enhance|improve|retouch|remove|replace|background|make it professional|product photo|poster|add text|add the words|resize|crop|upscale|hd|high[- ]?resolution|clean up|color|colour|turn this into|use this image)\\b/i.test(chatInput);\nconst imageGenerationIntent = /generate(?:\\s+(?:me\\s+)?(?:an?\\s+|the\\s+)?)?(?:image|picture|photo|jpeg|jpg|png|visual|artwork|illustration)|generate\\b[\\s\\S]{0,120}\\b(?:image|picture|photo|jpeg|jpg|png|visual|artwork|illustration)\\b|create(?:\\s+(?:me\\s+)?(?:an?\\s+|the\\s+)?)?(?:image|picture|photo|jpeg|jpg|png|visual|artwork|illustration)|create\\b[\\s\\S]{0,120}\\b(?:image|picture|photo|jpeg|jpg|png|visual|artwork|illustration)\\b|\\bdraw\\b|make(?:\\s+(?:me\\s+)?(?:an?\\s+)?)?(?:picture|image|photo|jpeg|jpg|png)|make\\b[\\s\\S]{0,120}\\b(?:image|picture|photo|jpeg|jpg|png|visual|artwork|illustration)\\b|image of|picture of|photo of|generate.*logo|create.*logo|ad creative|marketing visual/i.test(chatInput);\nconst metadataSource = String($json.metadata?.source || '');\nconst contentStudioCaption = metadataSource === 'content_studio_caption' || $json.metadata?.forceTextOnly === true;\nconst contentStudioVision = metadataSource === 'content_studio_image_analysis' || $json.metadata?.forceImageVision === true;\nif (contentStudioVision && hasImageAttachment) {\n  return [{ json: { ...$json, chatInput, message: chatInput, route: 'image_analysis', allowed: true, routing: { contentStudioVision: true, hasImageAttachment } }, binary: $binary }];\n}\nconst imageQuestionIntent = contentStudioVision || /what (can you see|is in|do you see)|describe (this|the|attached) image|analy[sz]e (this|the|attached)? ?image|identify this|what car|car model|caption this image/i.test(chatInput);\nconst extractAttachmentIntent = /\\bextract\\b|\\bpull\\s+(the\\s+)?data\\b|\\bget\\s+(the\\s+)?data\\b|presented\\s+attach|this\\s+attach|attached\\s+file|from\\s+(the\\s+)?attach|parse\\s+(the\\s+)?(file|document|attach)|what'?s\\s+in\\s+(this|the)\\s+(file|attach|document)/i.test(chatInput);\nconst ocrIntent = extractAttachmentIntent || /extract (the )?text|read this|scan this|ocr|what does this document say|transcribe|receipt|invoice|screenshot|form|scanned pdf|photographed document/i.test(chatInput);\nconst summarizeIntent = /summarize|summary|insights|performance|report|roas|spend|campaign results|account overview/i.test(message);\nlet route = 'main_agent';\nif (contentStudioCaption) route = 'main_agent';\nelse if (hasImageAttachment && editIntent) route = 'image_editing';\nelse if (!contentStudioCaption && imageGenerationIntent && !/caption|hashtag|rewrite|social copy|content studio/i.test(chatInput) && !hasImageAttachment) route = 'image_generation';\nelse if (hasImageAttachment && imageQuestionIntent) route = 'image_analysis';\nelse if (intakeReady && hasAnyAttachment && (extractAttachmentIntent || summarizeIntent || hasDocumentAttachment)) route = 'document_intake';\nelse if (!intakeReady && hasAnyAttachment && (extractAttachmentIntent || ocrIntent || summarizeIntent) && (isStructuredFileAttachment || isPdfAttachment)) route = 'ocr_extraction';\nelse if (!intakeReady && hasAnyAttachment && (extractAttachmentIntent || ocrIntent) && !isStructuredFileAttachment && !isPdfAttachment) route = 'ocr_extraction';\nelse if (intakeReady && (hasDocumentAttachment || hasMetaLink || summarizeIntent)) route = 'document_intake';\nelse if (hasMetaLink && summarizeIntent) route = 'meta_report';\nelse if (hasDocumentAttachment || /document|file|pdf|policy|summarize this|action items|deadline|extract text|invoice|receipt|xlsx|csv|spreadsheet/i.test(message)) route = 'document_qa';\nelse if (/website|external company|research|find online|official site/i.test(message)) route = 'web_research';\nelse if (/logo|hero image|gallery|open graph|og:image|favicon/i.test(message)) route = 'image_fetch';\nelse if (/who|team|department|responsible|maintain|built codex|developer/i.test(message)) route = 'people_directory';\nelse if (/code|typescript|react|next|tailwind|supabase|node|expo|bug|error/i.test(message)) route = 'code_assistant';\nreturn [{ json: { ...$json, chatInput, message: chatInput, route, allowed: true, routing: { hasImageAttachment, hasDocumentAttachment, editIntent, ocrIntent, extractAttachmentIntent, intakeReady, hasMetaLink } }, binary: $binary }];"
      },
      "id": "f8b9f0a7-3aa6-4ab3-aa40-9f8ca8c2855a",
      "name": "05 Permission + Tool Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7184,
        17152
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "id": "8faabf08-7a23-45e5-bb8e-0da3a0aff44c",
      "name": "OpenAI Main Reasoning Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -6912,
        17504
      ],
      "credentials": {
        "openAiApi": {
          "id": "AMCuIhOcN1ffKYz9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "image_editing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "image_editing"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "image_generation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "image_generation"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "ocr_extraction",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "ocr_extraction"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "image_analysis",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "image_analysis"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "18e60f1c-ba70-4bc9-9db8-17e127bb1aa3",
      "name": "Route Image Generation?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -7008,
        17152
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-image-1', prompt: $json.smartImagePrompt || $json.message || $json.chatInput || 'Generate a clean professional image.', size: '1024x1024', n: 1, output_format: $json.imageOutputFormat || 'png' }) }}",
        "options": {}
      },
      "id": "a8536e5f-8b7b-4bc4-9cc8-47258c744304",
      "name": "Generate Image - OpenAI Direct",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6768,
        16960
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\nconst raw = String(source.message || source.chatInput || '').replace(/\\n\\[Codex Intake[\\s\\S]*$/i, '').replace(/\\n\\[Context\\][\\s\\S]*$/, '').trim().slice(0, 3500);\nconst moduleName = source.context?.currentModule || 'ai-workspace'; const projectName = source.metadata?.projectName || ''; const role = source.context?.role || 'employee';\nconst requestedFormat = /\\b(jpe?g)\\b/i.test(raw) ? 'jpeg' : /\\bwebp\\b/i.test(raw) ? 'webp' : 'png';\nconst isMarketing = /social|instagram|facebook|ad creative|poster|flyer|campaign|brand|logo|marketing|meta|reel|story/i.test(raw); const isProduct = /product|ecommerce|catalog|packshot/i.test(raw);\nconst smartImagePrompt = [raw || 'Professional marketing visual for ITsNomatata workspace', isMarketing ? 'Style: clean modern agency marketing visual, strong hierarchy, readable text areas if requested, brand-safe composition.' : '', isProduct ? 'Style: realistic product photography, soft studio lighting, crisp details.' : '', projectName ? `Project context: ${projectName}.` : '', `Workspace module: ${moduleName}. Requested by role: ${role}.`, 'Avoid watermarks, distorted text, extra limbs, or cluttered backgrounds unless explicitly requested.'].filter(Boolean).join(' ').slice(0, 6000);\nreturn [{ json: { ...source, smartImagePrompt, imageOutputFormat: requestedFormat } }];"
      },
      "id": "d6468554-b860-48da-b727-05d89c4e712b",
      "name": "Build Smart Image Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6944,
        16960
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('05 Permission + Tool Router').first().json;\nreturn [{ json: {\n  success: true,\n  type: 'text',\n  message: 'Image generation is almost ready, but OPENAI_API_KEY is not configured in n8n. Add OPENAI_API_KEY to the n8n environment and activate the workflow again.',\n  output: 'Image generation is almost ready, but OPENAI_API_KEY is not configured in n8n. Add OPENAI_API_KEY to the n8n environment and activate the workflow again.',\n  conversationId: source.conversationId || null,\n  data: {},\n  attachments: [],\n  sources: []\n}}];"
      },
      "id": "d9b4ab2e-619b-4275-90b2-a4e7c417ad2f",
      "name": "Image Generation Config Missing Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6768,
        16784
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('05 Permission + Tool Router').first().json;\nconst promptContext = $('Build Smart Image Prompt').first().json;\nconst format = String(promptContext.imageOutputFormat || 'png').toLowerCase();\nconst mimeType = format === 'jpeg' || format === 'jpg' ? 'image/jpeg' : format === 'webp' ? 'image/webp' : 'image/png';\nconst extension = format === 'jpeg' || format === 'jpg' ? 'jpg' : format === 'webp' ? 'webp' : 'png';\nconst b64 = $json.data?.[0]?.b64_json;\nif (!b64) {\n  const detail = $json.error?.message || $json.message || $json.error || 'OpenAI did not return image data.';\n  const message = 'Image generation failed: ' + String(detail).slice(0, 300);\n  return [{ json: { success: false, type: 'text', message, output: message, conversationId: source.conversationId || null, attachments: [], sources: [] } }];\n}\nconst imageUrl = 'data:' + mimeType + ';base64,' + b64;\nreturn [{ json: {\n  success: true,\n  type: 'generated_image',\n  message: 'Image generated successfully.',\n  output: 'Image generated successfully.',\n  conversationId: source.conversationId || null,\n  attachments: [{\n    id: 'attachment-' + Date.now() + '-' + Math.random().toString(36).slice(2),\n    type: 'image',\n    name: 'generated-image.' + extension,\n    url: imageUrl,\n    download_url: imageUrl,\n    downloadUrl: imageUrl,\n    mimeType,\n    size: 0,\n    downloadable: true,\n    metadata: { source: 'openai_images', model: 'gpt-image-1', reusable_as_source: true, requested_format: format }\n  }],\n  sources: []\n}}];"
      },
      "id": "5f3ab683-7ebf-486e-a5cd-79996925db51",
      "name": "Format OpenAI Image Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6528,
        16960
      ]
    },
    {
      "parameters": {},
      "id": "2d131022-7fee-4c92-ae07-10b868b63320",
      "name": "Project Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -7104,
        17504
      ]
    },
    {
      "parameters": {
        "toolDescription": "Search indexed internal documents from Supabase Storage / internal document index only. Use for policies, uploaded files, leave documents, reports, SOPs, and company knowledge. Returns clean results with id, name, type, url, snippet, and score. Never use InfraNodus or web pages for this tool.",
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/functions/v1/codex-execute-tool' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "x-codex-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ toolId: ($fromAI('document_tool_id', 'search_documents', 'string') || 'search_documents'), payload: { query: $fromAI('document_query', '', 'string') || '', name: $fromAI('document_name', '', 'string') || '', document_id: $fromAI('document_id', '', 'string') || '', limit: Number($fromAI('document_limit', '8', 'string') || 8) }, context: $('04 Merge Request + User Context').first().json.context }) }}",
        "options": {}
      },
      "id": "3b6931a6-4760-4af9-81d4-ef9be374eadb",
      "name": "Document Knowledge Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -6704,
        17568
      ]
    },
    {
      "parameters": {
        "toolDescription": "Retrieve long-term private memory for the current user and, when present, the current project. Use this before answering questions that depend on prior preferences, decisions, project context, recurring work, or what the user previously told Codex. Never retrieve another user's memory.",
        "url": "={{ (() => { const base = $env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co'; const org = $json.context.organizationId; const user = $json.context.userId; const project = $json.metadata?.projectId; const scope = project ? `&or=(project_id.is.null,project_id.eq.${encodeURIComponent(project)})` : '&project_id=is.null'; return `${base}/rest/v1/ai_memory_items?select=*&organization_id=eq.${org}&user_id=eq.${user}${scope}&order=pinned.desc,importance.desc,updated_at.desc&limit=16`; })() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c48045be-7e54-45bd-98ca-fffa6f6eac46",
      "name": "Private Memory Retrieval Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -6944,
        17568
      ]
    },
    {
      "parameters": {
        "toolDescription": "Save useful long-term memory for the current user only. Save preferences, stable facts, project decisions, recurring instructions, and concise summaries that will help future chats. Do not save secrets, credentials, medical/legal sensitive data, or other people's private history. Use project scope when metadata.projectId exists.",
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/rest/v1/ai_memory_items' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "organization_id",
              "value": "={{ $json.context.organizationId }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.context.userId }}"
            },
            {
              "name": "project_id",
              "value": "={{ $json.metadata?.projectId || null }}"
            },
            {
              "name": "conversation_id",
              "value": "={{ $json.conversationId || null }}"
            },
            {
              "name": "scope",
              "value": "={{ $json.metadata?.projectId ? 'project' : 'user' }}"
            },
            {
              "name": "memory_type",
              "value": "={{ $fromAI('memory_type', 'summary', 'string') }}"
            },
            {
              "name": "title",
              "value": "={{ $fromAI('memory_title', 'Codex memory', 'string') }}"
            },
            {
              "name": "content",
              "value": "={{ $fromAI('memory_content', '', 'string') }}"
            },
            {
              "name": "importance",
              "value": "={{ Number($fromAI('importance', '3', 'string')) }}"
            },
            {
              "name": "source",
              "value": "chat"
            },
            {
              "name": "metadata",
              "value": "={{ { projectName: $json.metadata?.projectName || null, savedBy: 'codex' } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "50d15bb3-b6ce-4f09-86f4-09b69fb3564b",
      "name": "Private Memory Save Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -6944,
        17728
      ]
    },
    {
      "parameters": {
        "toolDescription": "Look up approved team members, departments, roles, responsibilities, managers, and active status from Supabase. Never invent people.",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/rest/v1/team_members?organization_id=eq.' + $json.context.organizationId + '&active_status=eq.active&select=*' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "563cf655-c276-4618-86e1-1a383f7a68d5",
      "name": "People Directory Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -6464,
        17568
      ]
    },
    {
      "parameters": {
        "toolDescription": "Research external companies using Tavily Search API. Prefer official websites and reliable sources. Return title, description, services, contact details, social links, images, and source URLs. Do not use random unsourced content.",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.TAVILY_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $fromAI('web_query', '', 'string') }}"
            },
            {
              "name": "search_depth",
              "value": "advanced"
            },
            {
              "name": "include_answer",
              "value": "true"
            },
            {
              "name": "include_images",
              "value": "true"
            },
            {
              "name": "include_raw_content",
              "value": "true"
            },
            {
              "name": "max_results",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "id": "f3eba3e7-b77d-432f-84a2-3ae142d94bed",
      "name": "Web Research Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -6224,
        17568
      ]
    },
    {
      "parameters": {
        "toolDescription": "Fetch company-related images only from a valid http(s) source_page_url supplied by the assistant or user. Do not invent fallback URLs and do not run this tool when no real URL is available.",
        "url": "={{ $fromAI('source_page_url', '', 'string') }}",
        "options": {}
      },
      "id": "cadd0811-beb5-48a7-8f47-2f4aabd69e66",
      "name": "Image Fetch Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -5984,
        17568
      ]
    },
    {
      "parameters": {
        "toolDescription": "Analyze an uploaded image using OpenAI vision. Use this when the user sends a picture and asks what it is, what appears in it, to read visible text, identify brand/model/object clues, or generate social captions from the image. Return honest uncertainty, useful visual details, and caption-ready insights when requested.",
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', input: [{ role: 'user', content: [{ type: 'input_text', text: $fromAI('image_question', 'Analyze this image. Identify visible objects, text, brand/model clues, mood, composition, audience, and caption ideas if useful. Be honest about uncertainty.', 'string') }, { type: 'input_image', image_url: $fromAI('image_url', ($json.attachments || $json.attachmentSources || []).find(a => a?.download_url || a?.url)?.download_url || ($json.attachments || $json.attachmentSources || []).find(a => a?.download_url || a?.url)?.url || $json.contentStudioImageUrl || '', 'string') }] }], temperature: 0.2 }) }}",
        "options": {}
      },
      "id": "fee710ba-b6aa-46aa-92e6-c1667eb283f1",
      "name": "Image Analysis Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -5744,
        17728
      ]
    },
    {
      "parameters": {
        "toolDescription": "Generate a downloadable PDF from an AI answer, document summary, report, or HTML. Do not use this tool for image-generation requests.",
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/functions/v1/generate-pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "x-codex-internal-key",
              "value": "={{$env.INTERNAL_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $fromAI('pdf_title', 'Codex Export', 'string') }}"
            },
            {
              "name": "html",
              "value": "={{ $fromAI('pdf_html', '', 'string') }}"
            },
            {
              "name": "file_name",
              "value": "={{ $fromAI('pdf_file_name', 'codex-export.pdf', 'string') }}"
            },
            {
              "name": "organization_id",
              "value": "={{ $json.context.organizationId }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.context.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "23a2d7b5-108a-4f0a-a56f-effdc2e3ede5",
      "name": "PDF Generator Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -5744,
        17568
      ]
    },
    {
      "parameters": {
        "toolDescription": "Create downloadable txt, md, json, csv, or html files from Codex output. Do not use this tool for user requests to generate/create/make/draw images, pictures, photos, JPEG/JPG/PNG, product renders, or phone images. Those must use the direct OpenAI image generation route.",
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/functions/v1/generate-file-export",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "x-codex-internal-key",
              "value": "={{$env.INTERNAL_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "={{ $fromAI('export_format', 'md', 'string') }}"
            },
            {
              "name": "content",
              "value": "={{ $fromAI('export_content', '', 'string') }}"
            },
            {
              "name": "file_name",
              "value": "={{ $fromAI('export_file_name', 'codex-export.md', 'string') }}"
            },
            {
              "name": "organization_id",
              "value": "={{ $json.context.organizationId }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.context.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "71e1182a-1a66-4fbd-b3d3-fd77b063e53e",
      "name": "File Export Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -5504,
        17568
      ]
    },
    {
      "parameters": {
        "toolDescription": "Load the current user's open assigned tasks from the workspace (with overdue count and board links). Use when the user asks what they should work on, what is overdue, or wants a task summary. Do not guess task lists.",
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/functions/v1/codex-execute-tool' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "x-codex-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ toolId: 'summarize_my_tasks', payload: {}, context: $('04 Merge Request + User Context').first().json.context }) }}",
        "options": {}
      },
      "id": "eb8ed7ab-668a-4381-b820-1a1e8fe3544d",
      "name": "Codex Tool - Summarize My Tasks",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -5744,
        17680
      ]
    },
    {
      "parameters": {
        "toolDescription": "List kanban boards (clients table) for the user's organization. Use to resolve board_id from a board name before creating a card. Pass search when the user names a board.",
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/functions/v1/codex-execute-tool' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "x-codex-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ toolId: 'list_boards', payload: { search: $fromAI('board_search', '', 'string') || '' }, context: $('04 Merge Request + User Context').first().json.context }) }}",
        "options": {}
      },
      "id": "c6e7009b-5ef1-42cb-9cb2-5092f3a62bd5",
      "name": "Codex Tool - List Boards",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -5504,
        17680
      ]
    },
    {
      "parameters": {
        "toolDescription": "Create a kanban card on a board for the user's organization. Required: title and board_id or board_name. Optional: description, priority (low|medium|high|urgent), due_date (YYYY-MM-DD), assignee_user_id, assignee_email, assignee_name. Managers create immediately; others submit for approval. Always call List Boards first if board_id is unknown.",
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/functions/v1/codex-execute-tool' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "x-codex-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ toolId: 'create_board_card', payload: { title: $fromAI('card_title', '', 'string'), board_id: $fromAI('board_id', '', 'string') || '', board_name: $fromAI('board_name', '', 'string') || '', description: $fromAI('card_description', '', 'string') || '', priority: $fromAI('card_priority', 'medium', 'string'), due_date: $fromAI('due_date', '', 'string') || '', assignee_email: $fromAI('assignee_email', '', 'string') || '', assignee_name: $fromAI('assignee_name', '', 'string') || '' }, context: $('04 Merge Request + User Context').first().json.context }) }}",
        "options": {}
      },
      "id": "95811798-cbf4-466f-97a6-5a18d0cfafc4",
      "name": "Codex Tool - Create Board Card",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -5264,
        17680
      ]
    },
    {
      "parameters": {
        "toolDescription": "Notify the content review team (draft creator, assignee, IT's No Matata admins) about a content studio draft. Required: draft_id. Optional: title and message for the notification body.",
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/functions/v1/codex-execute-tool' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "x-codex-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ toolId: 'notify_content_review', payload: { draft_id: $fromAI('draft_id', '', 'string'), title: $fromAI('notification_title', 'Content review update', 'string'), message: $fromAI('notification_message', '', 'string') || '' }, context: $('04 Merge Request + User Context').first().json.context }) }}",
        "options": {}
      },
      "id": "40dd2c89-6ac3-463b-a63a-1fdd1086f7e1",
      "name": "Codex Tool - Notify Content Review",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -5024,
        17680
      ]
    },
    {
      "parameters": {
        "toolDescription": "Read currently running time trackers and, when requested, users who are not tracking time. Use this for: who is tracking time, active timers, who is not tracking time, who is not on a timer, who has no active timer. Managers/admins see the team; normal users see their own timer. For not-tracking questions, call get_active_time_trackers with includeNotTracking true and mode not_tracking.",
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/functions/v1/codex-execute-tool' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "x-codex-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ toolId: 'get_active_time_trackers', payload: { includeNotTracking: /not tracking|not on a timer|no active timer|isn.t tracking|aren.t tracking/i.test($json.chatInput || $json.message || ''), mode: /not tracking|not on a timer|no active timer|isn.t tracking|aren.t tracking/i.test($json.chatInput || $json.message || '') ? 'not_tracking' : 'active', scope: /\\b(i|me|my|mine|am i)\\b/i.test($json.chatInput || $json.message || '') ? 'me' : 'team' }, context: $('04 Merge Request + User Context').first().json.context }) }}",
        "options": {}
      },
      "id": "800697d7-e50c-4f04-9f08-776ff82df745",
      "name": "Codex Tool - Get Active Time Trackers",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -4784,
        17680
      ]
    },
    {
      "parameters": {
        "toolDescription": "Read a user timesheet from real time_entries. Use when the user asks for someone's time sheet, tracked hours, time entries, approval status, or work log for a date range. Optional AI fields: user_id, user_email, user_name, from, to. Defaults to current user and the last 7 days.",
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/functions/v1/codex-execute-tool' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "x-codex-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ toolId: 'get_user_timesheet', payload: { user_id: $fromAI('timesheet_user_id', '', 'string') || '', email: $fromAI('timesheet_user_email', '', 'string') || '', name: $fromAI('timesheet_user_name', '', 'string') || '', from: $fromAI('timesheet_from', '', 'string') || '', to: $fromAI('timesheet_to', '', 'string') || '' }, context: $('04 Merge Request + User Context').first().json.context }) }}",
        "options": {}
      },
      "id": "721eb481-6ead-4096-92eb-99cdb257dd22",
      "name": "Codex Tool - Get User Timesheet",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -4544,
        17680
      ]
    },
    {
      "parameters": {
        "toolDescription": "Read attendance daily status records and counts. Use when the user asks about attendance, present/late/absent/on-leave counts, or a person's attendance. Optional AI fields: attendance_user_id, attendance_user_email, attendance_user_name, attendance_date, attendance_from, attendance_to. Managers/admins can query team attendance; normal users see self.",
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/functions/v1/codex-execute-tool' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "x-codex-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ toolId: 'get_attendance_summary', payload: { user_id: $fromAI('attendance_user_id', '', 'string') || '', email: $fromAI('attendance_user_email', '', 'string') || '', name: $fromAI('attendance_user_name', '', 'string') || '', date: $fromAI('attendance_date', '', 'string') || '', from: $fromAI('attendance_from', '', 'string') || '', to: $fromAI('attendance_to', '', 'string') || '' }, context: $('04 Merge Request + User Context').first().json.context }) }}",
        "options": {}
      },
      "id": "f7db3a31-0471-4e70-bb0d-643a1443ceec",
      "name": "Codex Tool - Get Attendance Summary",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -4304,
        17680
      ]
    },
    {
      "parameters": {
        "toolDescription": "Read leave balance and recent leave requests for a user. Use when the user asks how many leave days someone has, leave balance, used leave, remaining leave, or recent leave requests. Optional AI fields: leave_user_id, leave_user_email, leave_user_name. Managers/admins can query team leave; normal users see self.",
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/functions/v1/codex-execute-tool' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "x-codex-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ toolId: 'get_leave_balance', payload: { user_id: $fromAI('leave_user_id', '', 'string') || '', email: $fromAI('leave_user_email', '', 'string') || '', name: $fromAI('leave_user_name', '', 'string') || '' }, context: $('04 Merge Request + User Context').first().json.context }) }}",
        "options": {}
      },
      "id": "e3621e0a-9a56-4cea-aa0e-c3cdf23f92a0",
      "name": "Codex Tool - Get Leave Balance",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -4064,
        17680
      ]
    },
    {
      "parameters": {
        "toolDescription": "Read board task totals, status counts, priority counts, overdue count, and recent cards. Use when the user asks what is happening on a board, board workload, overdue cards, task status, or board summary. Required AI field: board_id or board_name.",
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/functions/v1/codex-execute-tool' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "x-codex-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ toolId: 'get_board_task_summary', payload: { board_id: $fromAI('summary_board_id', '', 'string') || '', board_name: $fromAI('summary_board_name', '', 'string') || '' }, context: $('04 Merge Request + User Context').first().json.context }) }}",
        "options": {}
      },
      "id": "9180a504-b5d8-4a87-a50d-5177a5c8c54c",
      "name": "Codex Tool - Get Board Task Summary",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -3824,
        17680
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.message }}",
        "options": {
          "systemMessage": "You are the ITsNomatata AI Workspace assistant. Use the configured OpenAI model stack only. Do not call nonconfigured or deprecated providers.\nFor greetings or small talk, reply naturally and briefly without claiming a missing prompt or asking for a full prompt.\nWhen the request includes an image attachment and asks for analysis, identification, visible text, social caption ideas, or Content Studio media analysis, use the direct vision route/tool with the real attachment URL. Return useful visual observations and platform-ready caption options when asked.\nWhen the user asks to generate a new image, use the direct image-generation route result and never call a second image-generation tool through the agent.\nWhen the request includes a document, PDF, CSV, spreadsheet, text file, or asks about known documents, use Supabase/internal document and codex-process-input tools. Never answer from web pages or InfraNodus unless explicitly requested.\nFor document summaries, extract actual document content first, then summarize decisions, dates, owners, risks, action items, and useful next steps. If extraction fails, say what failed and ask for a cleaner upload instead of inventing content.\nNever paste raw UUIDs, signed storage URLs, internal headers, service keys, or implementation traces into the user-visible answer.\nWhen a file, PDF, CSV, or image is created, return it as an attachment with id, type, name, url, download_url, downloadUrl, mimeType, size, downloadable, and metadata. Do not put signed URLs in the message body.\nFor any write, send, schedule, approve, delete, publish, start, or stop action, show a short preview and ask for confirmation unless the user explicitly said do it now and the action is low risk.\nIf verified internal knowledge is missing, say exactly what is missing and suggest the safest next step.\nImage generation rule: If the user asks to generate/create/make/draw any image, picture, photo, jpeg, jpg, png, visual, artwork, product image, or phone/product render, do not create SVG/HTML, do not use File Export Tool, and do not give prompt suggestions. The request must be handled by the direct image_generation route before the agent. If it reaches you anyway, say the image route was not selected and ask the workflow owner to republish the latest workflow."
        }
      },
      "id": "fb529016-7fd5-4802-8c18-2ff75aed98c2",
      "name": "06 Codex Main Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -5872,
        17072
      ]
    },
    {
      "parameters": {
        "jsCode": "const sourceJson = $json.json && typeof $json.json === 'object' && !$json.attachments ? $json.json : $json;\nlet output = String(sourceJson.output || sourceJson.message || sourceJson.text || 'I could not produce a verified response.');\nconst makeId = () => 'attachment-' + Date.now() + '-' + Math.random().toString(36).slice(2);\nconst isBrowserUrl = value => typeof value === 'string' && /^(https?:|data:image\\/|blob:)/i.test(value.trim());\nconst pickUrl = item => String(item?.downloadUrl || item?.download_url || item?.url || item?.image_url || '').trim();\nconst normalizeAttachment = item => {\n  const url = pickUrl(item);\n  const rawType = String(item?.type || item?.file_type || '').toLowerCase();\n  const mimeType = item?.mimeType || item?.mime_type || item?.contentType || item?.content_type || (url.startsWith('data:image/jpeg') ? 'image/jpeg' : url.startsWith('data:image/webp') ? 'image/webp' : url.startsWith('data:image/') ? 'image/png' : '');\n  const isImage = rawType === 'image' || String(mimeType).startsWith('image/') || url.startsWith('data:image/');\n  const type = isImage ? 'image' : ['pdf', 'csv', 'md', 'txt', 'file'].includes(rawType) ? 'document' : (rawType || 'document');\n  const name = item?.name || item?.file_name || item?.filename || (isImage ? 'generated-image.png' : 'codex-file');\n  return {\n    id: item?.id || makeId(),\n    type,\n    name,\n    url,\n    download_url: item?.download_url || url,\n    downloadUrl: item?.downloadUrl || item?.download_url || url,\n    mimeType,\n    size: Number(item?.size || item?.byteSize || item?.bytes || 0),\n    downloadable: item?.downloadable !== false,\n    metadata: item?.metadata && typeof item.metadata === 'object' ? item.metadata : {},\n  };\n};\nlet attachments = (Array.isArray(sourceJson.attachments) ? sourceJson.attachments : [])\n  .filter(item => item && typeof item === 'object')\n  .map(normalizeAttachment)\n  .filter(item => isBrowserUrl(item.url) || isBrowserUrl(item.download_url) || isBrowserUrl(item.downloadUrl));\nconst rawB64 = sourceJson.data?.[0]?.b64_json || sourceJson.data?.b64_json || sourceJson.b64_json;\nif (rawB64 && typeof rawB64 === 'string') {\n  const imageUrl = 'data:image/png;base64,' + rawB64;\n  attachments.push({\n    id: makeId(),\n    type: 'image',\n    name: sourceJson.file_name || 'generated-image.png',\n    url: imageUrl,\n    download_url: imageUrl,\n    downloadUrl: imageUrl,\n    mimeType: 'image/png',\n    size: 0,\n    downloadable: true,\n    metadata: { source: sourceJson.type === 'edited_image' ? 'openai_images_edit' : 'openai_images' },\n  });\n}\noutput = output\n  .replace(/\\bhttps?:\\/\\/\\S*(?:supabase|storage\\/v1\\/object)\\S*/gi, '')\n  .replace(/[a-f0-9]{8}-[a-f0-9]{4}-[1-5][a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}/gi, '')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\nconst hasVisibleImage = attachments.some(item => item.type === 'image' && (isBrowserUrl(item.url) || isBrowserUrl(item.download_url) || isBrowserUrl(item.downloadUrl)));\nconst hasVisibleFile = attachments.some(item => item.type !== 'image' && (isBrowserUrl(item.url) || isBrowserUrl(item.download_url) || isBrowserUrl(item.downloadUrl)));\nconst requestedType = sourceJson.type || (hasVisibleImage ? 'generated_image' : 'text');\nconst claimsImageGenerated = /image\\s+(has been\\s+)?(created|generated)|generated\\s+image|download\\s+.*image/i.test(output);\nconst claimsFileGenerated = /(?:pdf|csv|file|document)\\s+(?:has been\\s+)?(?:created|generated|exported)|download\\s+.*(?:pdf|csv|file|document)/i.test(output);\nif ((claimsImageGenerated || ['generated_image', 'edited_image'].includes(requestedType)) && !hasVisibleImage) {\n  output = requestedType === 'edited_image'\n    ? 'I could not return an edited image because no visible image attachment was produced.'\n    : 'I could not return a generated image because no visible image attachment was produced.';\n  attachments = attachments.filter(item => item.type !== 'image');\n}\nif (!['generated_image', 'edited_image'].includes(requestedType) && (claimsFileGenerated || requestedType === 'file_export') && !hasVisibleFile && !hasVisibleImage) {\n  output = 'I could not return the generated file because no downloadable attachment was produced.';\n  attachments = [];\n}\nif (!output && attachments.length) output = hasVisibleImage ? 'Image generated successfully.' : 'Done. The attachment is ready below.';\nif (!output) output = 'I could not produce a verified response.';\nconst allowedTypes = new Set(['generated_image', 'edited_image', 'image_analysis', 'document_extraction', 'ocr_extraction', 'file_export', 'text']);\nconst responseType = allowedTypes.has(requestedType) ? requestedType : (hasVisibleImage ? 'generated_image' : hasVisibleFile ? 'file_export' : 'text');\nreturn [{ json: {\n  success: sourceJson.success !== false,\n  type: responseType,\n  message: output,\n  output,\n  conversationId: sourceJson.conversationId || $('04 Merge Request + User Context').first().json.conversationId || null,\n  data: sourceJson.data || {},\n  contextPatch: sourceJson.contextPatch || sourceJson.data?.contextPatch || {},\n  attachments,\n  sources: sourceJson.sources || [],\n} }];"
      },
      "id": "5c739eea-c9e3-46ba-b0f8-3c2ad46d5936",
      "name": "07 Safe Response Contract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6592,
        17152
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\nconst candidates = [];\nconst add = item => { if (item && typeof item === 'object') candidates.push(item); };\n(source.attachmentSources || []).forEach(add); (source.attachments || []).forEach(add); (source.context?.attachments || []).forEach(add); (source.context?.previousAttachments || []).forEach(add); (source.metadata?.attachments || []).forEach(add); (source.metadata?.previousAttachments || []).forEach(add);\nif (source.context?.lastGeneratedImage) add(source.context.lastGeneratedImage); if (source.metadata?.lastGeneratedImage) add(source.metadata.lastGeneratedImage);\nconst imageLike = item => { const value = String(item?.mimeType || item?.mime_type || item?.type || item?.name || item?.url || item?.download_url || '').toLowerCase(); return item?.type === 'image' || value.startsWith('image/') || /\\.(png|jpe?g|webp)(\\?|#|$)/i.test(String(item?.url || item?.download_url || item?.name || '')) || String(item?.url || item?.download_url || '').startsWith('data:image/'); };\nconst picked = candidates.find(imageLike);\nconst existingBinary = $binary?.image || $binary?.file || $binary?.data || null;\nif (!picked && !existingBinary) return [{ json: { ...source, imageSourceFound: false, userMessage: 'Please upload or select the image you want me to edit.' } }];\nconst rawUrl = String(picked?.download_url || picked?.url || picked?.image_url || '');\nconst isDataUrl = rawUrl.startsWith('data:image/'); const isUrl = /^https?:\\/\\//i.test(rawUrl);\nreturn [{ json: { ...source, imageSourceFound: true, imageSource: picked || { name: existingBinary?.fileName || 'uploaded-image', mimeType: existingBinary?.mimeType || 'image/png' }, imageSourceUrl: isUrl ? rawUrl : '', imageSourceDataUrl: isDataUrl ? rawUrl : '', imageSourceIsUrl: isUrl, original_image: rawUrl || picked?.name || existingBinary?.fileName || 'uploaded image' }, binary: existingBinary ? { image: existingBinary } : $binary }];"
      },
      "id": "a764cc9d-2dc3-4a6d-ae04-13f64c6cd86e",
      "name": "Get Source Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5456,
        16928
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.imageSourceFound }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "37bf24d0-f076-42ef-8025-2cd9f5b17232",
      "name": "Source Image Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4944,
        16928
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.imageSourceIsUrl }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "76c8cbcb-e8bd-4c21-9b17-d00f17e0b885",
      "name": "Source Image Is URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4624,
        16656
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.imageSourceUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image"
            }
          }
        }
      },
      "id": "b88523d7-11b9-4987-9a16-12437ebfb396",
      "name": "Download Source Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4480,
        16496
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\nlet image = $binary?.image || $binary?.file || $binary?.data || null;\nif (!image && item.imageSourceDataUrl) { const match = String(item.imageSourceDataUrl).match(/^data:([^;]+);base64,(.+)$/); if (match) image = { data: match[2], mimeType: match[1], fileName: item.imageSource?.name || 'source-image.png' }; }\nif (!image?.data) return [{ json: { ...item, imageEditPreparationFailed: true, userMessage: 'I could not edit this image because no source image was found.' } }];\nreturn [{ json: { ...item, imageEditPreparationFailed: false }, binary: { image } }];"
      },
      "id": "fc0d90e8-b59a-4954-8464-a86cd46c6914",
      "name": "Prepare Image Edit Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4624,
        16096
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('05 Permission + Tool Router').first().json;\nconst instruction = String(source.message || source.chatInput || '').replace(/\\n\\[Context\\][\\s\\S]*$/, '').trim();\nconst prompt = ['Edit the provided image.', instruction || 'Improve the image quality while preserving the original subject.', 'Preserve the main subject, proportions, composition, quality, and realistic details unless the user explicitly asks to change them.', 'Preserve faces and identity if people are present.', 'Preserve logos and text unless the user asks to remove or change them.', 'Make the result high quality and realistic.', 'Follow the user instruction exactly and do not invent extra changes.'].join(' ');\nreturn [{ json: { ...$json, imageEditPrompt: prompt }, binary: $binary }];"
      },
      "id": "55ca2148-2c1f-40a5-85f7-7ffd63000b1c",
      "name": "Build Image Edit Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4816,
        16384
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('05 Permission + Tool Router').first().json;\nconst editContext = $('Build Image Edit Prompt').first().json;\nconst parts = ($json.candidates || []).flatMap(candidate => candidate?.content?.parts || []);\nconst imagePart = parts.find(part => part?.inlineData?.data || part?.inline_data?.data);\nconst b64 = imagePart?.inlineData?.data || imagePart?.inline_data?.data || '';\nconst mimeType = imagePart?.inlineData?.mimeType || imagePart?.inline_data?.mime_type || 'image/png';\nif (!b64) {\n  const technical = $json.error?.message || $json.message || $json.error || 'No edited image data returned.';\n  return [{ json: {\n    success: true,\n    type: 'text',\n    message: 'The image edit service failed, but your original image is safe. Please try a smaller image.',\n    output: 'The image edit service failed, but your original image is safe. Please try a smaller image.',\n    conversationId: source.conversationId || null,\n    data: { internal_error: String(technical).slice(0, 500), prompt: editContext.imageEditPrompt },\n    attachments: [],\n    sources: []\n  }}];\n}\nconst imageUrl = 'data:' + mimeType + ';base64,' + b64;\nconst attachment = {\n  type: 'image',\n  name: 'edited-image.png',\n  url: imageUrl,\n  download_url: imageUrl,\n  metadata: {\n    source: 'OpenAI_image_edit',\n    model: 'OpenAI-2.5-flash-image',\n    original_image: editContext.original_image || null,\n    reusable_as_source: true,\n    conversation_id: source.conversationId || null,\n    prompt: editContext.imageEditPrompt\n  }\n};\nreturn [{ json: {\n  success: true,\n  type: 'edited_image',\n  message: 'Image edited successfully.',\n  output: 'Image edited successfully.',\n  conversationId: source.conversationId || null,\n  data: {\n    prompt: editContext.imageEditPrompt,\n    edited_image_url: imageUrl,\n    lastGeneratedImage: attachment,\n    previousAttachments: [attachment],\n    persistence_hint: 'Store data.lastGeneratedImage or attachments[0] on the conversation so follow-up edits can reuse it as the source image.'\n  },\n  contextPatch: {\n    lastGeneratedImage: attachment,\n    previousAttachments: [attachment]\n  },\n  attachments: [attachment],\n  sources: []\n}}];"
      },
      "id": "d54b8a19-5b51-4c80-8583-1b620b89d612",
      "name": "Format Edited Image Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5248,
        16256
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('05 Permission + Tool Router').first().json;\nreturn [{ json: { success: true, type: 'text', message: 'Please upload or select the image you want me to edit.', output: 'Please upload or select the image you want me to edit.', conversationId: source.conversationId || null, attachments: [], sources: [] } }];"
      },
      "id": "13a6b08c-bcb4-4a2d-bf54-d31835305e7e",
      "name": "Image Edit Missing Source Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5360,
        16736
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('04c Merge Processed Input').first()?.json || $json;\nconst candidates = []; const add = item => { if (item && typeof item === 'object') candidates.push(item); };\n(source.attachmentSources || []).forEach(add); (source.attachments || []).forEach(add); (source.context?.attachments || []).forEach(add); (source.metadata?.attachments || []).forEach(add);\nconst existingBinary = $binary?.document || $binary?.file || $binary?.data || $binary?.image || null;\nconst picked = candidates.find(item => { const url = String(item?.download_url || item?.url || item?.image_url || ''); return url && !url.startsWith('[inline'); }) || candidates.find(item => item?.mimeType || item?.name) || null;\nif (!picked && !existingBinary) return [{ json: { ...source, ocrSourceFound: false, userMessage: 'Please upload the document or image you want me to read.' } }];\nconst rawUrl = String(picked?.download_url || picked?.url || picked?.image_url || '');\nconst fileName = picked?.name || existingBinary?.fileName || 'uploaded-file';\nconst mime = picked?.mimeType || picked?.mime_type || existingBinary?.mimeType || (/\\.csv(\\?|#|$)/i.test(rawUrl) || /\\.csv$/i.test(fileName) ? 'text/csv' : /\\.(xlsx|xls)(\\?|#|$)/i.test(rawUrl) || /\\.(xlsx|xls)$/i.test(fileName) ? 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' : /\\.pdf(\\?|#|$)/i.test(rawUrl) || /\\.pdf$/i.test(fileName) ? 'application/pdf' : 'image/png');\nconst isDataUrl = rawUrl.startsWith('data:'); const isUrl = /^https?:\\/\\//i.test(rawUrl);\nreturn [{ json: { ...source, ocrSourceFound: true, ocrSourceUrl: isUrl ? rawUrl : '', ocrSourceDataUrl: isDataUrl ? rawUrl : '', ocrSourceIsUrl: isUrl, ocrMimeType: mime, ocrFileName: fileName || existingBinary?.fileName || 'uploaded-document' }, binary: existingBinary ? { document: existingBinary } : $binary }];"
      },
      "id": "3655b23c-4a70-4df3-b329-96b841704c9b",
      "name": "Get OCR Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6768,
        17408
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ocrSourceFound }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7608873b-03b8-4a1b-bc2c-7ccb7f95d34b",
      "name": "OCR Source Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6528,
        17408
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ocrSourceIsUrl }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f0e61a2f-bfec-4a16-8744-2ebc7e598838",
      "name": "OCR Source Is URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6288,
        17360
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.ocrSourceUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "document"
            }
          }
        }
      },
      "id": "21cb0967-9f26-4c7f-8b66-1bda74185c38",
      "name": "Download OCR Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6048,
        17264
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const source = $('05 Permission + Tool Router').first().json;\nconst intakeBlock = $('04c Merge Processed Input').first()?.json?.intakeBlock || source.intakeBlock || '';\nconst intakeItems = $('04c Merge Processed Input').first()?.json?.processedInput?.items || [];\nconst recovered = $json.ocrRecoveredText || intakeItems.find(item => item?.ok && item?.text)?.text || '';\nif (recovered && String(recovered).trim().length > 15) {\n  const text = String(recovered).trim();\n  return [{ json: { success: true, type: 'ocr_extraction', message: text, output: text, conversationId: source.conversationId || null, data: { source: 'codex_process_input', wordCount: (text.match(/[A-Za-z0-9]{2,}/g) || []).length }, attachments: [], sources: [] } }];\n}\nconst text = $json.output_text || ($json.output || []).flatMap(o => o.content || []).map(c => c.text || '').filter(Boolean).join('\\n') || $json.text || '';\nconst wordCount = (text.match(/[A-Za-z0-9]{2,}/g) || []).length;\nif ((!text || wordCount < 5 || $json.error) && intakeBlock) {\n  const fallback = intakeBlock.replace(/^\\[Codex Intake[^\\]]*\\][^\\n]*\\nUse the material below[^\\n]*\\n/i, '').trim();\n  if (fallback.length > 40) {\n    return [{ json: { success: true, type: 'ocr_extraction', message: fallback, output: fallback, conversationId: source.conversationId || null, data: { source: 'codex_process_input_fallback', wordCount: (fallback.match(/[A-Za-z0-9]{2,}/g) || []).length }, attachments: [], sources: [] } }];\n  }\n}\nif (!text || wordCount < 5 || $json.error) {\n  const failedItem = intakeItems.find(item => item && item.ok === false);\n  const hint = $json.codexExtractError || failedItem?.error || $json.userMessage || $json.error?.message || 'OCR returned too little readable text.';\n  const message = `I could not extract enough readable data from this file. ${hint} Try re-uploading in chat (wait until upload completes), use a text-based PDF export, or a clearer scan.`;\n  return [{ json: { success: true, type: 'ocr_extraction', message, output: message, conversationId: source.conversationId || null, data: { internal_error: String(hint).slice(0, 500), wordCount }, attachments: [], sources: [] } }];\n}\nreturn [{ json: { success: true, type: 'ocr_extraction', message: text, output: text, conversationId: source.conversationId || null, data: { wordCount, source: 'OpenAI_vision_ocr', model: 'OpenAI-2.5-flash' }, attachments: [], sources: [] } }];"
      },
      "id": "5c20c785-cd9e-4ebf-9584-34bc64dcfe38",
      "name": "Format OCR Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5328,
        17392
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('05 Permission + Tool Router').first().json;\nreturn [{ json: { success: true, type: 'ocr_extraction', message: 'Please upload the document or image you want me to read.', output: 'Please upload the document or image you want me to read.', conversationId: source.conversationId || null, attachments: [], sources: [] } }];"
      },
      "id": "709b7247-2336-4e79-9d81-9c2077083958",
      "name": "OCR Missing Source Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6288,
        17568
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\nconst merge = $('04c Merge Processed Input').first()?.json || {};\nconst router = $('05 Permission + Tool Router').first()?.json || {};\nconst name = item.ocrFileName || 'uploaded-file';\nconst mime = item.ocrMimeType || (name.toLowerCase().endsWith('.csv') ? 'text/csv' : name.toLowerCase().endsWith('.xlsx') ? 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' : 'application/pdf');\nconst lower = name.toLowerCase();\nconst isCodexFile = /\\.(pdf|csv|xlsx|xls|docx?|txt|md)$/i.test(lower) || /pdf|csv|spreadsheet|excel|word|plain/i.test(mime);\nconst isImageOnly = /^image\\//i.test(mime) && !/\\.(pdf|csv|xlsx)/i.test(lower);\nif (!isCodexFile || isImageOnly) {\n  return [{ json: { ...item, ocrMimeType: mime, ocrHandledByCodex: false } }];\n}\nconst url = String(item.ocrSourceUrl || item.ocrSourceDataUrl || '').trim();\nif (!url || url.startsWith('[inline')) {\n  return [{ json: { ...item, ocrMimeType: mime, ocrHandledByCodex: false } }];\n}\nconst supabaseUrl = $env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co';\nconst key = $env.SUPABASE_SERVICE_ROLE_KEY;\nconst internal = $env.INTERNAL_API_KEY;\nif (!key) {\n  return [{ json: { ...item, ocrMimeType: mime, ocrHandledByCodex: false } }];\n}\nconst userMessage = String(router.chatInput || router.message || 'extract data from the attachment').split('\\n[Codex Intake')[0].trim();\nlet response;\ntry {\n  response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/functions/v1/codex-process-input',\n    headers: {\n      apikey: key,\n      Authorization: 'Bearer ' + key,\n      'x-codex-internal-key': internal,\n      'Content-Type': 'application/json',\n    },\n    body: {\n      message: userMessage,\n      chatInput: userMessage,\n      attachments: [{ name, url, download_url: url, mimeType: mime, type: 'document' }],\n      attachmentSources: [{ name, url, download_url: url, mimeType: mime }],\n      links: [],\n      context: merge.context || router.context || {},\n    },\n    json: true,\n  });\n} catch (error) {\n  return [{ json: { ...item, ocrMimeType: mime, ocrHandledByCodex: false, userMessage: String(error.message || error) } }];\n}\nconst hit = (response.items || []).find(i => i && i.ok && i.text);\nconst text = hit?.text || '';\nreturn [{ json: {\n  ...item,\n  ocrMimeType: mime,\n  ocrHandledByCodex: true,\n  ocrRecoveredText: text,\n  skipOpenAI: true,\n  OpenAIBody: null,\n  codexExtractError: hit ? null : ((response.items || [])[0]?.error || 'Could not read file'),\n}}];"
      },
      "id": "d115dc3b-abc7-48d8-9cc9-044d6b7711f6",
      "name": "OCR Extract File via Codex",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6224,
        17408
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ocrHandledByCodex === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c251af0e-d928-4081-8217-5d804800b9ba",
      "name": "OCR Handled by Codex?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6048,
        17408
      ]
    },
    {
      "parameters": {
        "jsCode": "const s = $('05 Permission + Tool Router').first().json;\nconst list = [...(Array.isArray(s.attachmentSources) ? s.attachmentSources : []), ...(Array.isArray(s.attachments) ? s.attachments : [])];\nconst imageLike = a => {\n  if (!a || typeof a !== 'object') return false;\n  const u = String(a.download_url || a.url || a.image_url || '').trim();\n  if (!u || u.startsWith('[')) return false;\n  return a.type === 'image' || /^image\\//i.test(String(a.mimeType || a.mime_type || '')) || /\\.(jpe?g|png|webp|gif|heic|heif)(\\?|#|$)/i.test(u);\n};\nconst img = list.find(imageLike);\nconst imageUrl = String(img?.download_url || img?.url || img?.image_url || '').trim();\nconst visionPrompt = String(s.chatInput || s.message || 'Analyze this image for social content. Return strict JSON only.');\nreturn [{ json: {\n  ...s,\n  contentStudioImageUrl: imageUrl,\n  contentStudioVisionPrompt: visionPrompt,\n  contentStudioVisionReady: Boolean(imageUrl),\n}}];"
      },
      "id": "d0278fda-6c49-4b3e-a419-1bde097222ed",
      "name": "Content Studio Vision Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6992,
        16784
      ]
    },
    {
      "parameters": {
        "toolDescription": "Read the current user's in-app notifications from the workspace. Use for inbox, alerts, unread notifications, or recent notification history. Optional AI fields: unread_only (boolean), limit (number).",
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/functions/v1/codex-execute-tool' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "x-codex-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ toolId: 'search_notifications', payload: { unreadOnly: $fromAI('unread_only', 'false', 'string') === 'true', limit: Number($fromAI('notification_limit', '15', 'string') || 15) }, context: $('04 Merge Request + User Context').first().json.context }) }}",
        "options": {}
      },
      "id": "1da55c5b-e985-457c-8677-30a3fb8cedac",
      "name": "Codex Tool - Search Notifications",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -3584,
        17680
      ]
    },
    {
      "parameters": {
        "toolDescription": "Search serialized assets/equipment in the workspace stock registry. Use for asset lookup, serial numbers, tags, equipment status, or stock questions. Optional AI field: asset_query (search text).",
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/functions/v1/codex-execute-tool' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "x-codex-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ toolId: 'search_assets', payload: { query: $fromAI('asset_query', '', 'string') || '', limit: Number($fromAI('asset_limit', '15', 'string') || 15) }, context: $('04 Merge Request + User Context').first().json.context }) }}",
        "options": {}
      },
      "id": "fddebba7-8ad0-4a9e-a9ec-de4f000e7a20",
      "name": "Codex Tool - Search Assets",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -3344,
        17680
      ]
    },
    {
      "parameters": {
        "toolDescription": "Run verified workspace actions through Supabase codex-execute-tool. Choose workspace_tool_id from: list_available_documents, search_documents, get_document, search_people, people_directory, search_tasks, update_task, search_time_entries, start_time_tracker, stop_time_tracker, search_users_clocked_in, search_leave_requests, search_meetings, search_reports, search_employee_documents, search_social_posts, search_fleet_service_needs, calculate_asset_total_cost, find_assets_by_assignee, search_assets, search_notifications, get_active_time_trackers, get_user_timesheet, get_attendance_summary, get_leave_balance, get_board_task_summary, list_boards, summarize_my_tasks, create_board_card, notify_content_review. Put arguments as JSON in tool_payload_json. Use dry_run=true before risky writes if the user has not clearly confirmed. Never use this tool to delete users, change roles, change security policies, change billing, edit payroll/payslips, publish public content, or send bulk external emails. For not-tracking time questions, use workspace_tool_id get_active_time_trackers with {\"includeNotTracking\":true,\"mode\":\"not_tracking\",\"scope\":\"team\"}.",
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/functions/v1/codex-execute-tool' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "x-codex-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { let payload = {}; try { payload = JSON.parse($fromAI('tool_payload_json', '{}', 'string') || '{}'); } catch (error) { payload = { query: $fromAI('query', '', 'string') || '' }; } return JSON.stringify({ toolId: $fromAI('workspace_tool_id', 'search_people', 'string'), payload, dryRun: String($fromAI('dry_run', 'false', 'string')).toLowerCase() === 'true', context: $('04 Merge Request + User Context').first().json.context }); })() }}",
        "options": {}
      },
      "id": "343e534b-10b1-48d8-8aa7-aca7d5becb83",
      "name": "Codex Tool - Workspace Actions",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -3104,
        17680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', input: [{ role: 'user', content: [{ type: 'input_text', text: 'Summarize this internal document chunk for retrieval. Return concise summary, key points, actions, deadlines, owners, departments, risks, and tags. Do not invent facts.\\n\\nDocument: ' + ($json.file_name || $json.name || 'Uploaded document') + '\\nChunk ' + ($json.chunkIndex ?? 0) + ':\\n' + $json.chunkText }] }], temperature: 0.2 }) }}",
        "options": {}
      },
      "id": "474f132e-3a0d-46f6-8b30-62307ec28055",
      "name": "Summarize Chunk - OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5632,
        18848
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openaiBody) }}",
        "options": {}
      },
      "id": "06eae07f-34d3-463f-8c35-9e7722810f54",
      "name": "OpenAI Document OCR Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5392,
        19008
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  success: false,\n  type: 'document_training',\n  message: 'Google Drive document training is disabled in this workflow. Upload the file directly to this webhook, or connect Google Drive credentials and re-enable the Drive branch.',\n  attachments: [],\n  sources: []\n}}];"
      },
      "id": "29d48163-51ba-44d8-92d5-77f6aa554ce0",
      "name": "Google Drive Training Disabled Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6352,
        19040
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "codex/upload-document",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8b055e34-521e-46a0-b7a0-52e707dbf06a",
      "name": "Document Training Trigger - Upload / Manual / Drive1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -7072,
        18672
      ],
      "webhookId": "a6d27ee3-f4d9-4078-bd07-f946018c3b77"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst parsedContext = typeof body.context === 'string' ? JSON.parse(body.context || '{}') : (body.context || {});\nconst parsedMetadata = typeof body.metadata === 'string' ? JSON.parse(body.metadata || '{}') : (body.metadata || {});\nconst uploadBinary = $binary?.file || $binary?.data || null;\nconst driveFileId = body.drive_file_id || body.driveFileId || body.googleDriveFileId || body.fileId || body.id || null;\nconst json = {\n  ...body,\n  context: parsedContext,\n  metadata: parsedMetadata,\n  driveFileId,\n  hasUploadedBinary: Boolean(uploadBinary),\n  source: uploadBinary ? 'upload' : 'google_drive',\n  file_name: body.file_name || body.fileName || body.name || uploadBinary?.fileName || 'Uploaded document',\n  file_type: body.file_type || body.fileType || uploadBinary?.mimeType || 'unknown',\n  organization_id: body.organization_id || parsedContext.organizationId || parsedContext.organization_id || null,\n  uploaded_by: body.uploaded_by || parsedContext.userId || parsedContext.user_id || null,\n  department: body.department || parsedContext.department || null,\n  module: body.module || parsedContext.currentModule || 'ai-workspace',\n  access_level: body.access_level || 'internal',\n  source_url: body.source_url || body.webViewLink || null\n};\nif (!uploadBinary && !driveFileId) {\n  throw new Error('No uploaded file or Google Drive file id was provided.');\n}\nreturn [{ json, binary: uploadBinary ? { data: uploadBinary } : $binary }];"
      },
      "id": "3a1c9176-9602-4bf3-a1b6-249423d2ed49",
      "name": "Prepare Document Training Input1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6832,
        18672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasUploadedBinary }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2d4a9f8e-fa5c-4090-83ab-70b07a89b9d2",
      "name": "Has Uploaded Binary?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6592,
        18672
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $binary?.data?.mimeType || $json.file_type || $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $binary?.data?.mimeType || $json.file_type || $json.mimeType }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $binary?.data?.mimeType || $json.file_type || $json.mimeType }}",
                    "rightValue": "text/markdown",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "markdown"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $binary?.data?.mimeType || $json.file_type || $json.mimeType }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "csv"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $binary?.data?.mimeType || $json.file_type || $json.mimeType }}",
                    "rightValue": "application/json",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "json"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $binary?.data?.mimeType || $json.file_type || $json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "docx"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $binary?.data?.mimeType || $json.file_type || $json.mimeType }}",
                    "rightValue": "image/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "30386925-d91f-40ef-8b2d-686bebb01ebc",
      "name": "Detect File Type1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -6352,
        18848
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "2d53b387-7c9b-432b-907b-310e0af28d04",
      "name": "Extract Text from PDF1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -6112,
        18736
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "ce8bd342-72eb-4a54-b9ec-79a2d560f060",
      "name": "Extract Text from File1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -6112,
        18848
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const source = $('Prepare Document Training Input1').first().json || {};\nconst raw = $json.text || $json.data || $json.content || $json.markdown || '';\nlet text = String(raw).replace(/\u0000/g, ' ').replace(/\\s+/g, ' ').trim();\nconst looksLikeHtml = /<!doctype html|<html[\\s>]|<script[\\s>]|window.__|webpack|vite|next-data|<body[\\s>]/i.test(text);\nconst tagCount = (text.match(/<[^>]+>/g) || []).length;\nconst wordCount = (text.match(/[a-z0-9]{2,}/gi) || []).length;\nconst repeatedJunk = /(.)\\1{80,}|(\\b\\w{1,3}\\b\\s*){80,}/i.test(text);\nconst previewPage = /preview unavailable|download this file|sign in to view|enable javascript|access denied/i.test(text);\nconst badExtraction = !text || wordCount < 30 || looksLikeHtml || (tagCount > 20 && tagCount > wordCount / 3) || repeatedJunk || previewPage;\nif (badExtraction) throw new Error('Document extraction quality was too low. Use OCR fallback for scanned PDFs, screenshots, receipts, forms, or photographed documents.');\nconst chunkSize = 2200; const overlap = 180; const chunks = [];\nfor (let i = 0; i < text.length; i += chunkSize - overlap) chunks.push({ json: { ...source, ...$json, chunkIndex: chunks.length, chunkText: text.slice(i, i + chunkSize), extractedTextLength: text.length, extractionQuality: { wordCount, badExtraction: false } } });\nreturn chunks;"
      },
      "id": "d99b18c7-2f81-4667-80ba-a3bb56cf381f",
      "name": "Clean and Chunk Text1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5872,
        18848
      ]
    },
    {
      "parameters": {
        "jsCode": "const readText = (json) => {\n  const responsesText = json.output_text || (json.output || []).flatMap(o => o.content || []).map(c => c.text || c.output_text || '').filter(Boolean).join('\\n');\n  const legacyText = (json.candidates || []).flatMap(candidate => candidate?.content?.parts || []).map(part => part.text || '').filter(Boolean).join('\\n');\n  return responsesText || legacyText || json.message?.content || json.output || json.text || json.summary || json.chunkText || '';\n};\nconst first = items[0]?.json || {};\nconst summaries = items.map(item => readText(item.json || {})).filter(Boolean);\nconst detailed = summaries.join('\\n\\n');\nconst sourceChunks = items.map((item, index) => ({ index, summary: readText(item.json || {}), text: item.json.chunkText || item.json.text || '' }));\nreturn [{ json: { ...first, summary_short: (summaries[0] || first.text || first.chunkText || '').slice(0, 400), summary_detailed: detailed || String(first.text || first.chunkText || '').slice(0, 4000), tags: first.tags || [], status: 'trained', chunks: sourceChunks } }];"
      },
      "id": "0b3f1cb6-63e3-4a00-b168-79456ea78210",
      "name": "Create Final Document Summary1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5392,
        18848
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/rest/v1/ai_documents' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "organization_id",
              "value": "={{ $json.organization_id || $json.context?.organizationId }}"
            },
            {
              "name": "document_name",
              "value": "={{ $json.file_name || $json.name || 'Uploaded document' }}"
            },
            {
              "name": "file_type",
              "value": "={{ $json.file_type || $binary?.data?.mimeType || 'unknown' }}"
            },
            {
              "name": "source",
              "value": "={{ $json.source || 'google_drive' }}"
            },
            {
              "name": "source_url",
              "value": "={{ $json.source_url || $json.webViewLink || null }}"
            },
            {
              "name": "uploaded_by",
              "value": "={{ $json.uploaded_by || $json.context?.userId || null }}"
            },
            {
              "name": "department",
              "value": "={{ $json.department || $json.context?.department || null }}"
            },
            {
              "name": "module",
              "value": "={{ $json.module || 'ai-workspace' }}"
            },
            {
              "name": "access_level",
              "value": "={{ $json.access_level || 'internal' }}"
            },
            {
              "name": "status",
              "value": "trained"
            },
            {
              "name": "summary_short",
              "value": "={{ $json.summary_short }}"
            },
            {
              "name": "summary_detailed",
              "value": "={{ $json.summary_detailed }}"
            },
            {
              "name": "tags",
              "value": "={{ $json.tags || [] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e57bc4ae-eb90-4b4c-82c6-758fd81000fb",
      "name": "Save Document Metadata to Supabase1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5152,
        18848
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/functions/v1/codex-process-input' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "x-codex-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'Index this approved internal document summary for document search.', chatInput: 'Index this approved internal document summary for document search.', attachments: [{ name: $json.document_name || $json.file_name || $json.name || 'Uploaded document', mimeType: $json.file_type || 'text/plain', textContent: $json.summary_detailed || $json.summary_short || '' }], attachmentSources: [], links: [], context: { userId: $json.uploaded_by || $json.context?.userId, organizationId: $json.organization_id || $json.context?.organizationId, role: $json.context?.role || 'admin', department: $json.department || $json.context?.department, fullName: $json.context?.fullName, currentModule: $json.module || 'ai-workspace' } }) }}",
        "options": {}
      },
      "id": "8dd91b7c-8390-4c53-b14d-85e2cd9eb43d",
      "name": "Index Summary in Supabase Document Search1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4912,
        18848
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  type: 'document_training',\n  message: 'Document learned and summarized successfully.',\n  documentId: $json.id || $json.document_id || null,\n  sourceUrl: $json.source_url || null,\n  attachments: [],\n  sources: $json.source_url ? [{ title: $json.document_name || 'Document', url: $json.source_url }] : []\n} }}",
        "options": {}
      },
      "id": "87a16fe4-ed7b-4ae1-aa18-52cc07610314",
      "name": "Document Learned Response1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -4672,
        18848
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text || $json.data || $json.content || $json.markdown || '';\nconst text = String(raw).replace(/\u0000/g, ' ').replace(/\\s+/g, ' ').trim();\nconst looksLikeHtml = /<!doctype html|<html[\\s>]|<script[\\s>]|window.__|webpack|vite|next-data|<body[\\s>]/i.test(text);\nconst tagCount = (text.match(/<[^>]+>/g) || []).length;\nconst wordCount = (text.match(/[a-z0-9]{2,}/gi) || []).length;\nconst repeatedJunk = /(.)\\1{80,}|(\\b\\w{1,3}\\b\\s*){80,}/i.test(text);\nconst previewPage = /preview unavailable|download this file|sign in to view|enable javascript|access denied/i.test(text);\nconst documentTextGood = Boolean(text) && wordCount >= 30 && !looksLikeHtml && !(tagCount > 20 && tagCount > wordCount / 3) && !repeatedJunk && !previewPage;\nreturn [{ json: { ...$json, text, documentTextGood, extractionQuality: { wordCount, looksLikeHtml, tagCount, repeatedJunk, previewPage } }, binary: $binary }];"
      },
      "id": "9ee6c9bb-16eb-487a-9880-816ccbc8464b",
      "name": "Validate Document Text Quality1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6032,
        18848
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.documentTextGood }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "82d49ff6-6072-4758-80c2-b4ce2dee535f",
      "name": "Document Text Quality Good?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5840,
        18848
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('Prepare Document Training Input1').first();\nconst sourceJson = source.json || {};\nconst sourceBinary = source.binary?.data || null;\nconst currentBinary = $binary?.data || $binary?.document || $binary?.file || $binary?.image || null;\nconst doc = currentBinary || sourceBinary;\nif (!doc?.data) { return [{ json: { ...sourceJson, text: '', error: { message: 'OCR fallback could not find the original file binary.' } } }]; }\nreturn [{ json: { ...sourceJson, text: '', error: { message: 'This document needs OCR. OpenAI OCR fallback is not configured in this workflow branch yet; use codex-process-input upload indexing for supported PDFs, CSV, text, DOCX, and spreadsheets.' } } }];"
      },
      "id": "6de4f99d-8bb7-44de-bd8b-c0de97ece588",
      "name": "Prepare Document OCR Request1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5632,
        19008
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $json.output_text || ($json.output || []).flatMap(o => o.content || []).map(c => c.text || '').filter(Boolean).join('\\n') || $json.text || '';\nconst wordCount = (text.match(/[A-Za-z0-9]{2,}/g) || []).length;\nif (!text || wordCount < 8 || $json.error) { const source = $('Prepare Document Training Input1').first().json || {}; const message = $json.error?.message || 'OCR fallback could not read enough text from this file.'; return [{ json: { ...source, text: '', extraction_method: 'ocr_unavailable', extractionQuality: { wordCount, badExtraction: true }, error: { message } } }]; }\nconst source = $('Prepare Document Training Input1').first().json || {};\nreturn [{ json: { ...source, text, extraction_method: 'openai_vision_ocr', extractionQuality: { wordCount, ocrFallback: true } } }];"
      },
      "id": "a3e3cf63-253c-4905-b0ab-6a81174f49ce",
      "name": "Format Document OCR Text1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5152,
        19008
      ]
    },
    {
      "id": "content-studio-vision-openai-direct",
      "name": "Content Studio Vision (OpenAI Direct)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6732,
        16784
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', input: [{ role: 'user', content: [{ type: 'input_text', text: ($json.contentStudioVisionPrompt || $json.chatInput || $json.message || 'Analyze this image and generate useful captions.') + '\\n\\nReturn strict JSON when the user asks for captions: { mood, sceneDescription, suggestedCaption, hashtags, shortAlternative, platformCaptions, confidenceScore }' }, { type: 'input_image', image_url: $json.contentStudioImageUrl }] }], temperature: 0.2 }) }}",
        "options": {}
      }
    },
    {
      "id": "format-content-studio-vision-json",
      "name": "Format Content Studio Vision JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6472,
        16784
      ],
      "parameters": {
        "jsCode": "const source = $('05 Permission + Tool Router').first().json;\nconst prep = $('Content Studio Vision Prep').first().json;\nconst text = $json.output_text || ($json.output || []).flatMap(o => o.content || []).map(c => c.text || c.output_text || '').filter(Boolean).join('\\n') || $json.message || $json.text || '';\nconst fallback = text || 'I could not analyze this image because OpenAI vision returned no readable response.';\nreturn [{ json: { success: Boolean(text), type: 'image_analysis', message: fallback, output: fallback, conversationId: source.conversationId || null, data: { source: 'openai_vision', imageUrlPresent: Boolean(prep.contentStudioImageUrl) }, attachments: [], sources: [] } }];"
      }
    }
  ],
  "connections": {
    "01 Chat Trigger - Frontend or n8n Chat": {
      "main": [
        [
          {
            "node": "02 Normalize Chat Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 Normalize Chat Payload": {
      "main": [
        [
          {
            "node": "03 Prepare User Context (Supabase Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 Prepare User Context (Supabase Optional)": {
      "main": [
        [
          {
            "node": "04 Merge Request + User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04 Merge Request + User Context": {
      "main": [
        [
          {
            "node": "04b Codex Process Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04b Codex Process Input": {
      "main": [
        [
          {
            "node": "04c Merge Processed Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04c Merge Processed Input": {
      "main": [
        [
          {
            "node": "05 Permission + Tool Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05 Permission + Tool Router": {
      "main": [
        [
          {
            "node": "Route Image Generation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Main Reasoning Model": {
      "ai_languageModel": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Route Image Generation?": {
      "main": [
        [
          {
            "node": "Get Source Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Smart Image Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get OCR Source",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Content Studio Vision Prep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "06 Codex Main Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image - OpenAI Direct": {
      "main": [
        [
          {
            "node": "Format OpenAI Image Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Smart Image Prompt": {
      "main": [
        [
          {
            "node": "Generate Image - OpenAI Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generation Config Missing Response": {
      "main": [
        [
          {
            "node": "07 Safe Response Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format OpenAI Image Response": {
      "main": [
        [
          {
            "node": "07 Safe Response Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Memory": {
      "ai_memory": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Document Knowledge Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Private Memory Retrieval Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Private Memory Save Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "People Directory Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Research Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Image Fetch Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Image Analysis Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PDF Generator Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "File Export Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Codex Tool - Summarize My Tasks": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Codex Tool - List Boards": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Codex Tool - Create Board Card": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Codex Tool - Notify Content Review": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Codex Tool - Get Active Time Trackers": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Codex Tool - Get User Timesheet": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Codex Tool - Get Attendance Summary": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Codex Tool - Get Leave Balance": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Codex Tool - Get Board Task Summary": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "06 Codex Main Agent": {
      "main": [
        [
          {
            "node": "07 Safe Response Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Source Image": {
      "main": [
        [
          {
            "node": "Source Image Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Source Image Found?": {
      "main": [
        [
          {
            "node": "Source Image Is URL?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Edit Missing Source Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Source Image Is URL?": {
      "main": [
        [
          {
            "node": "Download Source Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Image Edit Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Source Image": {
      "main": [
        [
          {
            "node": "Prepare Image Edit Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Edit Binary": {
      "main": [
        [
          {
            "node": "Build Image Edit Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Image Edit Prompt": {
      "main": []
    },
    "Format Edited Image Response": {
      "main": [
        [
          {
            "node": "07 Safe Response Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Edit Missing Source Response": {
      "main": [
        [
          {
            "node": "07 Safe Response Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OCR Source": {
      "main": [
        [
          {
            "node": "OCR Source Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Source Found?": {
      "main": [
        [
          {
            "node": "OCR Extract File via Codex",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR Missing Source Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Source Is URL?": {
      "main": [
        [
          {
            "node": "Download OCR Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download OCR Source": {
      "main": []
    },
    "Format OCR Response": {
      "main": [
        [
          {
            "node": "07 Safe Response Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Missing Source Response": {
      "main": [
        [
          {
            "node": "07 Safe Response Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Extract File via Codex": {
      "main": [
        [
          {
            "node": "OCR Handled by Codex?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Handled by Codex?": {
      "main": [
        [
          {
            "node": "Format OCR Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR Source Is URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Studio Vision Prep": {
      "main": [
        [
          {
            "node": "Content Studio Vision (OpenAI Direct)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Codex Tool - Search Notifications": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Codex Tool - Search Assets": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Codex Tool - Workspace Actions": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Chunk - OpenAI": {
      "main": [
        [
          {
            "node": "Create Final Document Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Document OCR Fallback": {
      "main": [
        [
          {
            "node": "Format Document OCR Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Training Disabled Response": {
      "main": [
        [
          {
            "node": "Document Learned Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Training Trigger - Upload / Manual / Drive1": {
      "main": [
        [
          {
            "node": "Prepare Document Training Input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document Training Input1": {
      "main": [
        [
          {
            "node": "Has Uploaded Binary?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Uploaded Binary?1": {
      "main": [
        [
          {
            "node": "Detect File Type1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive Training Disabled Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect File Type1": {
      "main": [
        [
          {
            "node": "Extract Text from PDF1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Document OCR Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from PDF1": {
      "main": [
        [
          {
            "node": "Validate Document Text Quality1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from File1": {
      "main": [
        [
          {
            "node": "Validate Document Text Quality1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean and Chunk Text1": {
      "main": [
        [
          {
            "node": "Summarize Chunk - OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Final Document Summary1": {
      "main": [
        [
          {
            "node": "Save Document Metadata to Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Document Metadata to Supabase1": {
      "main": [
        [
          {
            "node": "Index Summary in Supabase Document Search1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Index Summary in Supabase Document Search1": {
      "main": [
        [
          {
            "node": "Document Learned Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Document Text Quality1": {
      "main": [
        [
          {
            "node": "Document Text Quality Good?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Text Quality Good?1": {
      "main": [
        [
          {
            "node": "Clean and Chunk Text1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Document OCR Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document OCR Request1": {
      "main": [
        [
          {
            "node": "OpenAI Document OCR Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Document OCR Text1": {
      "main": [
        [
          {
            "node": "Clean and Chunk Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Studio Vision (OpenAI Direct)": {
      "main": [
        [
          {
            "node": "Format Content Studio Vision JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Content Studio Vision JSON": {
      "main": [
        [
          {
            "node": "07 Safe Response Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50e6bfa796b7843cf807280c4dfaf50c8d8481a53f2c542e4644133e795419bf",
    "description": "Production-ready n8n blueprint for Codex: chat, OpenAI image generation, OpenAI image analysis/captions, document extraction/training, document Q&A, and safe workspace tools."
  }
}
