n8n/itsnomatata-codex-internal-ai.production.workflow.json
{
  "name": "ITsNomatata Codex Internal AI",
  "meta": {
    "description": "Production-ready n8n blueprint for Codex: chat agent, document training, document Q&A, people directory, web research, image fetch, code assistant, OpenAI primary model, Gemini backup model.",
    "openAiPrimary": true,
    "geminiBackup": true,
    "doNotUseClaude": true
  },
  "nodes": [
    {
      "id": "chat-trigger",
      "name": "01 Chat Trigger - Frontend or n8n Chat",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1800,
        0
      ],
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      }
    },
    {
      "id": "normalize-chat-payload",
      "name": "02 Normalize Chat Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1560,
        0
      ],
      "parameters": {
        "jsCode": "const body = $json;\nconst rawInput = body.chatInput || body.message || body.text || body.output || '';\nconst chatInput = String(rawInput).replace(/data:image/[a-zA-Z0-9.+-]+;base64,[A-Za-z0-9+/=]+/g, '[uploaded image data removed]').slice(0, 12000);\nconst rawAttachments = Array.isArray(body.attachments) ? body.attachments : [];\nconst attachmentSources = rawAttachments.slice(0, 8).map((item, index) => {\n  const sourceUrl = String(item?.url || item?.download_url || item?.image_url || item?.publicUrl || item?.signedUrl || '');\n  return { index, type: item?.type || item?.file_type || 'file', name: String(item?.name || item?.file_name || 'attachment').slice(0, 180), mimeType: item?.mimeType || item?.mime_type || null, url: sourceUrl, download_url: String(item?.download_url || sourceUrl || ''), documentId: item?.documentId || item?.document_id || null };\n});\nconst safeAttachments = rawAttachments.slice(0, 8).map((item, index) => {\n  const source = attachmentSources[index] || {};\n  const url = String(source.url || '');\n  const download = String(source.download_url || url || '');\n  const safeUrl = url.startsWith('data:') && url.length > 2000 ? '[inline data removed]' : url.slice(0, 1200);\n  const safeDownload = download.startsWith('data:') && download.length > 2000 ? '[inline data removed]' : download.slice(0, 1200);\n  return { type: source.type || 'file', name: source.name || 'attachment', mimeType: source.mimeType || null, url: safeUrl, download_url: safeDownload, documentId: source.documentId || null };\n});\nreturn [{ json: { ...body, chatInput, message: chatInput, sessionId: body.sessionId || body.conversationId || body.context?.userId || 'anonymous', conversationId: body.conversationId || null, context: body.context || {}, metadata: body.metadata || {}, attachments: safeAttachments, attachmentSources, action: body.action || 'sendMessage' }, binary: $binary }];"
      }
    },
    {
      "id": "load-user-context",
      "name": "03 Prepare User Context (Supabase Optional)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1320,
        0
      ],
      "parameters": {
        "jsCode": "const request = $('02 Normalize Chat Payload').first().json;\nconst context = request.context || {};\n\n// This node is intentionally local-first. n8n on this server blocks $env,\n// and $vars may be empty during manual tests. The frontend already sends\n// user context, so do not crash the workflow when Supabase enrichment is\n// not configured yet.\nreturn [{ json: {\n  ...request,\n  profile: {\n    id: context.userId || null,\n    full_name: context.fullName || null,\n    email: context.email || null,\n    primary_role: context.role || 'employee',\n    department: context.department || null,\n    organization_id: context.organizationId || null\n  },\n  supabaseContextStatus: context.userId ? 'frontend_context' : 'anonymous_or_manual_test'\n}}];"
      }
    },
    {
      "id": "merge-context",
      "name": "04 Merge Request + User Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1080,
        0
      ],
      "parameters": {
        "jsCode": "const request = $('03 Prepare User Context (Supabase Optional)').first().json;\nconst profile = request.profile || {};\nconst chatInput = request.chatInput || request.message || '';\nreturn [{ json: {\n  ...request,\n  chatInput,\n  message: chatInput,\n  context: {\n    ...request.context,\n    userId: request.context.userId || profile.id || 'anonymous',\n    fullName: request.context.fullName || profile.full_name || 'Workspace User',\n    email: request.context.email || profile.email || null,\n    role: request.context.role || profile.primary_role || 'employee',\n    department: request.context.department || profile.department || null,\n    organizationId: request.context.organizationId || profile.organization_id || 'workspace-default',\n    currentModule: request.context.currentModule || 'ai-workspace',\n    timezone: request.context.timezone || 'Africa/Harare',\n    channel: request.context.channel || 'web'\n  }\n}}];"
      }
    },
    {
      "id": "permission-router",
      "name": "05 Permission + Tool Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        0
      ],
      "parameters": {
        "jsCode": "const chatInput = $json.chatInput || $json.message || '';\nconst message = chatInput.toLowerCase();\nconst attachments = Array.isArray($json.attachments) ? $json.attachments : [];\nconst sources = Array.isArray($json.attachmentSources) ? $json.attachmentSources : [];\nconst allAttachments = [...attachments, ...sources];\nconst mimeOrName = item => String(item?.mimeType || item?.mime_type || item?.type || item?.name || item?.url || item?.download_url || '').toLowerCase();\nconst hasImageAttachment = allAttachments.some(item => item?.type === 'image' || mimeOrName(item).startsWith('image/') || /.(png|jpe?g|webp|gif)(?|#|$)/i.test(String(item?.url || item?.download_url || item?.name || '')) || String(item?.url || item?.download_url || '').startsWith('data:image/'));\nconst hasDocumentAttachment = allAttachments.some(item => item?.type === 'document' || /pdf|text|markdown|csv|json|word|docx|document|invoice|receipt|form/.test(mimeOrName(item)));\nconst hasAnyAttachment = hasImageAttachment || hasDocumentAttachment || allAttachments.length > 0 || Object.keys($binary || {}).length > 0;\nconst editIntent = /\b(edit|change|modify|enhance|improve|retouch|remove|replace|background|make it professional|product photo|poster|add text|add the words|resize|crop|upscale|hd|high[- ]?resolution|clean up|color|colour|turn this into|use this image)\b/i.test(chatInput);\nconst imageQuestionIntent = /what (can you see|is in|do you see)|describe (this|the) image|analy[sz]e (this|the) image|identify this|what car|car model|caption this image/i.test(chatInput);\nconst ocrIntent = /extract (the )?text|read this|scan this|ocr|what does this document say|transcribe|receipt|invoice|screenshot|form|scanned pdf|photographed document/i.test(chatInput);\nlet route = 'main_agent';\nif (hasImageAttachment && editIntent) route = 'image_editing';\nelse if (/generate.*image|create.*image|draw|make.*picture|image of|generate.*logo|create.*logo/i.test(chatInput) && !hasImageAttachment) route = 'image_generation';\nelse if (hasImageAttachment && imageQuestionIntent) route = 'image_analysis';\nelse if ((hasAnyAttachment && ocrIntent) || (hasImageAttachment && /text|receipt|invoice|screenshot|form/i.test(message))) route = 'ocr_extraction';\nelse if (hasDocumentAttachment || /document|file|pdf|policy|summarize this|action items|deadline|extract text|invoice|receipt/i.test(message)) route = 'document_qa';\nelse if (/website|external company|research|find online|official site/i.test(message)) route = 'web_research';\nelse if (/logo|hero image|gallery|open graph|og:image|favicon/i.test(message)) route = 'image_fetch';\nelse if (/who|team|department|responsible|maintain|built codex|developer/i.test(message)) route = 'people_directory';\nelse if (/code|typescript|react|next|tailwind|supabase|node|expo|bug|error/i.test(message)) route = 'code_assistant';\nreturn [{ json: { ...$json, chatInput, message: chatInput, route, allowed: true, routing: { hasImageAttachment, hasDocumentAttachment, editIntent, ocrIntent } }, binary: $binary }];"
      }
    },
    {
      "id": "openai-main-model",
      "name": "OpenAI Main Reasoning Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -560,
        360
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      }
    },
    {
      "id": "route-image-generation",
      "name": "Route Image Generation?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -660,
        0
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "renameOutput": true,
              "outputKey": "image_editing",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "image_editing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              }
            },
            {
              "renameOutput": true,
              "outputKey": "image_generation",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "image_generation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              }
            },
            {
              "renameOutput": true,
              "outputKey": "ocr_extraction",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "ocr_extraction",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "generate-image-openai-direct",
      "name": "Generate Image - OpenAI Direct",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        -180
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ ($json.message || $json.chatInput || '').replace(/\\n\\[Context\\][\\s\\S]*$/,'').trim() }}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            },
            {
              "name": "n",
              "value": "={{ 1 }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "AMCuIhOcN1ffKYz9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "has-openai-image-key",
      "name": "Has OpenAI Image Key?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -540,
        -180
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "renameOutput": true,
              "outputKey": "configured",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ true }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "image-generation-config-missing",
      "name": "Image Generation Config Missing Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        -360
      ],
      "parameters": {
        "jsCode": "const source = $('05 Permission + Tool Router').first().json;\nreturn [{ json: {\n  success: true,\n  type: 'text',\n  message: 'Image generation is almost ready, but the OpenAI credential is not connected to the image generation node. Open Generate Image - OpenAI Direct, select your OpenAi account credential, save and activate the workflow, then try again.',\n  output: 'Image generation is almost ready, but the OpenAI credential is not connected to the image generation node. Open Generate Image - OpenAI Direct, select your OpenAi account credential, save and activate the workflow, then try again.',\n  conversationId: source.conversationId || null,\n  data: {},\n  attachments: [],\n  sources: []\n}}];"
      }
    },
    {
      "id": "format-openai-image-response",
      "name": "Format OpenAI Image Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        -180
      ],
      "parameters": {
        "jsCode": "const source = $('05 Permission + Tool Router').first().json;\nconst prompt = (source.message || source.chatInput || 'generated image').replace(/\\n\\[Context\\][\\s\\S]*$/, '').trim();\nconst b64 = $json.data?.[0]?.b64_json;\nif (!b64) {\n  const detail = $json.error?.message || $json.message || $json.error || 'OpenAI did not return image data.';\n  const message = `I could not return a generated image yet. OpenAI image generation failed: ${String(detail).slice(0, 300)}`;\n  return [{ json: {\n    success: true,\n    type: 'text',\n    message,\n    output: message,\n    conversationId: source.conversationId || null,\n    data: { prompt },\n    attachments: [],\n    sources: []\n  }}];\n}\nconst imageUrl = `data:image/png;base64,${b64}`;\nconst slug = prompt.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '').slice(0, 48) || 'codex-image';\nreturn [{ json: {\n  success: true,\n  type: 'generated_image',\n  message: 'Image generated successfully.',\n  output: 'Image generated successfully.',\n  conversationId: source.conversationId || null,\n  data: { prompt },\n  attachments: [{\n    type: 'image',\n    name: `${slug}.png`,\n    url: imageUrl,\n    download_url: imageUrl,\n    metadata: { source: 'openai_images', model: 'gpt-image-1' }\n  }],\n  sources: []\n}}];"
      }
    },
    {
      "id": "project-memory",
      "name": "Project Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -760,
        360
      ],
      "parameters": {}
    },
    {
      "id": "document-knowledge-tool",
      "name": "Document Knowledge Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -360,
        420
      ],
      "parameters": {
        "toolDescription": "Search approved ITsNomatata internal documents, policies, uploaded files, project summaries, and GraphRAG knowledge. Check role/department scope before using the content.",
        "method": "POST",
        "url": "https://infranodus.com/api/v1/graphAndStatements?doNotSave=false&includeGraph=false&includeGraphSummary=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "ai_topic_marketing-guidance"
            },
            {
              "name": "requestMode",
              "value": "response"
            },
            {
              "name": "prompt",
              "value": "={{ $fromAI('document_query', '', 'string') }}"
            },
            {
              "name": "includeOnlySummaries",
              "value": "true"
            },
            {
              "name": "maxResults",
              "value": "8"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "private-memory-retrieval-tool",
      "name": "Private Memory Retrieval Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -600,
        420
      ],
      "parameters": {
        "toolDescription": "Retrieve long-term private memory for the current user and, when present, the current project. Use this before answering questions that depend on prior preferences, decisions, project context, recurring work, or what the user previously told Codex. Never retrieve another user's memory.",
        "method": "GET",
        "url": "={{ (() => { const base = $vars.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co'; const org = $json.context.organizationId; const user = $json.context.userId; const project = $json.metadata?.projectId; const scope = project ? `&or=(project_id.is.null,project_id.eq.${encodeURIComponent(project)})` : '&project_id=is.null'; return `${base}/rest/v1/ai_memory_items?select=*&organization_id=eq.${org}&user_id=eq.${user}${scope}&order=pinned.desc,importance.desc,updated_at.desc&limit=16`; })() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "private-memory-save-tool",
      "name": "Private Memory Save Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -600,
        580
      ],
      "parameters": {
        "toolDescription": "Save useful long-term memory for the current user only. Save preferences, stable facts, project decisions, recurring instructions, and concise summaries that will help future chats. Do not save secrets, credentials, medical/legal sensitive data, or other people's private history. Use project scope when metadata.projectId exists.",
        "method": "POST",
        "url": "={{ ($vars.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/rest/v1/ai_memory_items' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "organization_id",
              "value": "={{ $json.context.organizationId }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.context.userId }}"
            },
            {
              "name": "project_id",
              "value": "={{ $json.metadata?.projectId || null }}"
            },
            {
              "name": "conversation_id",
              "value": "={{ $json.conversationId || null }}"
            },
            {
              "name": "scope",
              "value": "={{ $json.metadata?.projectId ? 'project' : 'user' }}"
            },
            {
              "name": "memory_type",
              "value": "={{ $fromAI('memory_type', 'summary', 'string') }}"
            },
            {
              "name": "title",
              "value": "={{ $fromAI('memory_title', 'Codex memory', 'string') }}"
            },
            {
              "name": "content",
              "value": "={{ $fromAI('memory_content', '', 'string') }}"
            },
            {
              "name": "importance",
              "value": "={{ Number($fromAI('importance', '3', 'string')) }}"
            },
            {
              "name": "source",
              "value": "chat"
            },
            {
              "name": "metadata",
              "value": "={{ { projectName: $json.metadata?.projectName || null, savedBy: 'codex' } }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "people-directory-tool",
      "name": "People Directory Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -120,
        420
      ],
      "parameters": {
        "toolDescription": "Look up approved team members, departments, roles, responsibilities, managers, and active status from Supabase. Never invent people.",
        "method": "GET",
        "url": "={{ ($vars.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/rest/v1/team_members?organization_id=eq.' + $json.context.organizationId + '&active_status=eq.active&select=*' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "web-research-tool",
      "name": "Web Research Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        120,
        420
      ],
      "parameters": {
        "toolDescription": "Research external companies using Tavily Search API. Prefer official websites and reliable sources. Return title, description, services, contact details, social links, images, and source URLs. Do not use random unsourced content.",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.TAVILY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $fromAI('web_query', '', 'string') }}"
            },
            {
              "name": "search_depth",
              "value": "advanced"
            },
            {
              "name": "include_answer",
              "value": "true"
            },
            {
              "name": "include_images",
              "value": "true"
            },
            {
              "name": "include_raw_content",
              "value": "true"
            },
            {
              "name": "max_results",
              "value": "5"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "image-fetch-tool",
      "name": "Image Fetch Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        360,
        420
      ],
      "parameters": {
        "toolDescription": "Fetch company-related images from official websites: og:image, logo, favicon, hero images, gallery images, product images. Return source URLs and avoid random unsourced images.",
        "method": "GET",
        "url": "={{ $fromAI('source_page_url', 'https://example.com', 'string') || 'https://example.com' }}",
        "options": {}
      }
    },
    {
      "id": "image-analysis-tool",
      "name": "Image Analysis Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        600,
        580
      ],
      "parameters": {
        "toolDescription": "Analyze an uploaded image using OpenAI vision. Use this when the user sends a picture and asks what it is, what car/model/object appears, to read text from an image, or to extract visible details. Input must include an image URL from the current attachments and a focused question. Return observations, likely identification, visible text, confidence, and limits.",
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "input",
              "value": "={{ [{ role: 'user', content: [{ type: 'input_text', text: $fromAI('image_question', 'Analyze this image. Identify visible objects, text, brand/model clues, and important details. Be honest about uncertainty.', 'string') }, { type: 'input_image', image_url: $fromAI('image_url', ($json.attachments || []).find(a => a?.url)?.url || '', 'string') }] }] }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "pdf-generator-tool",
      "name": "PDF Generator Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        600,
        420
      ],
      "parameters": {
        "toolDescription": "Generate a downloadable PDF from an AI answer, document summary, report, or HTML. Input should include title, html or markdown/content, file_name, organization_id, user_id, and optional storage target. Return attachment object with type pdf, url, and download_url.",
        "method": "POST",
        "url": "={{ ($vars.CODEX_FILE_SERVICE_URL || 'https://example.com/codex-file-service') + '/pdf' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.CODEX_FILE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $fromAI('pdf_title', 'Codex Export', 'string') }}"
            },
            {
              "name": "html",
              "value": "={{ $fromAI('pdf_html', '', 'string') }}"
            },
            {
              "name": "file_name",
              "value": "={{ $fromAI('pdf_file_name', 'codex-export.pdf', 'string') }}"
            },
            {
              "name": "organization_id",
              "value": "={{ $json.context.organizationId }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.context.userId }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "file-export-tool",
      "name": "File Export Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        840,
        420
      ],
      "parameters": {
        "toolDescription": "Create downloadable txt, md, json, csv, or html files from Codex output. Save to Supabase Storage or Google Drive through the file service. Return attachment object with type, name, url, and download_url.",
        "method": "POST",
        "url": "={{ ($vars.CODEX_FILE_SERVICE_URL || 'https://example.com/codex-file-service') + '/export' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.CODEX_FILE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "={{ $fromAI('export_format', 'md', 'string') }}"
            },
            {
              "name": "content",
              "value": "={{ $fromAI('export_content', '', 'string') }}"
            },
            {
              "name": "file_name",
              "value": "={{ $fromAI('export_file_name', 'codex-export.md', 'string') }}"
            },
            {
              "name": "organization_id",
              "value": "={{ $json.context.organizationId }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.context.userId }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "image-generation-tool",
      "name": "Image Generation Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1080,
        420
      ],
      "parameters": {
        "toolDescription": "Generate an image with OpenAI. Use this only when the user asks to create a new image. Improve the prompt for clean business use. The OpenAI response returns base64 image data in data[0].b64_json; convert it into an attachment with url and download_url set to data:image/png;base64,{b64_json}. Never claim success without returning that visible image attachment.",
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $fromAI('image_prompt', '', 'string') }}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            },
            {
              "name": "n",
              "value": "={{ 1 }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "codex-main-agent",
      "name": "06 Codex Main Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -520,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.message }}",
        "options": {
          "systemMessage": "Paste the full prompt from n8n/itsnomatata-ai-workspace-brain.system-prompt.md here. OpenAI is the primary model. Use tools only when needed. Respect role, department, organization, and project memory scope. If verified internal knowledge is missing, say so clearly."
        }
      }
    },
    {
      "id": "gemini-backup",
      "name": "Gemini Backup Summarizer / Classifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -520,
        680
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=' + $vars.GEMINI_API_KEY }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [{ parts: [{ text: $json.geminiPrompt || $json.message || '' }] }] }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "safe-response",
      "name": "07 Safe Response Contract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ],
      "parameters": {
        "jsCode": "let output = $json.output || $json.message || $json.text || 'I could not produce a verified response.';\nconst rawAttachments = Array.isArray($json.attachments) ? $json.attachments : [];\nconst isBrowserUrl = value => typeof value === 'string' && /^(https?:|data:image/|blob:)/i.test(value);\nlet attachments = rawAttachments.filter(item => item && typeof item === 'object').map(item => ({ type: item.type || item.file_type || 'file', name: item.name || item.file_name || 'codex-file', url: item.url || item.image_url || item.download_url || '', download_url: item.download_url || item.url || item.image_url || '', metadata: item.metadata || {} })).filter(item => isBrowserUrl(item.url) || isBrowserUrl(item.download_url));\nconst rawB64 = $json.data?.[0]?.b64_json || $json.data?.b64_json || $json.b64_json;\nif (rawB64 && typeof rawB64 === 'string') { const imageUrl = 'data:image/png;base64,' + rawB64; attachments.push({ type: 'image', name: $json.file_name || 'codex-generated-image.png', url: imageUrl, download_url: imageUrl, metadata: { source: $json.type === 'edited_image' ? 'openai_images_edit' : 'openai_images' } }); }\nlet hasVisibleImage = attachments.some(item => String(item.type || '').toLowerCase().includes('image') && (isBrowserUrl(item.url) || isBrowserUrl(item.download_url)));\nconst requestedType = $json.type || 'text';\nconst claimsImageGenerated = /images+(has beens+)?(created|generated)|generateds+image|downloads+.*image/i.test(output);\nconst claimsImageEdited = /images+(has beens+)?(edited|updated|modified)|editeds+image/i.test(output);\nif ((claimsImageGenerated || claimsImageEdited || ['generated_image', 'edited_image'].includes(requestedType)) && !hasVisibleImage) { output = claimsImageEdited || requestedType === 'edited_image' ? 'I could not return an edited image because no visible image attachment was produced.' : 'I could not return a generated image because no visible image attachment was produced.'; attachments = []; }\nconst allowedTypes = new Set(['generated_image', 'edited_image', 'image_analysis', 'document_extraction', 'ocr_extraction', 'file_export', 'text']);\nconst responseType = allowedTypes.has(requestedType) ? requestedType : (hasVisibleImage ? 'generated_image' : 'text');\nreturn [{ json: { success: $json.success !== false, type: responseType, message: output, output, conversationId: $json.conversationId || $('04 Merge Request + User Context').first().json.conversationId || null, data: $json.data || {}, attachments, sources: $json.sources || [] } }];"
      }
    },
    {
      "id": "document-upload-trigger",
      "name": "Document Training Trigger - Upload / Manual / Drive",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1800,
        980
      ],
      "parameters": {
        "path": "codex/upload-document",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "prepare-document-training-input",
      "name": "Prepare Document Training Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1560,
        980
      ],
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst parsedContext = typeof body.context === 'string' ? JSON.parse(body.context || '{}') : (body.context || {});\nconst parsedMetadata = typeof body.metadata === 'string' ? JSON.parse(body.metadata || '{}') : (body.metadata || {});\nconst uploadBinary = $binary?.file || $binary?.data || null;\nconst driveFileId = body.drive_file_id || body.driveFileId || body.googleDriveFileId || body.fileId || body.id || null;\nconst json = {\n  ...body,\n  context: parsedContext,\n  metadata: parsedMetadata,\n  driveFileId,\n  hasUploadedBinary: Boolean(uploadBinary),\n  source: uploadBinary ? 'upload' : 'google_drive',\n  file_name: body.file_name || body.fileName || body.name || uploadBinary?.fileName || 'Uploaded document',\n  file_type: body.file_type || body.fileType || uploadBinary?.mimeType || 'unknown',\n  organization_id: body.organization_id || parsedContext.organizationId || parsedContext.organization_id || null,\n  uploaded_by: body.uploaded_by || parsedContext.userId || parsedContext.user_id || null,\n  department: body.department || parsedContext.department || null,\n  module: body.module || parsedContext.currentModule || 'ai-workspace',\n  access_level: body.access_level || 'internal',\n  source_url: body.source_url || body.webViewLink || null\n};\nif (!uploadBinary && !driveFileId) {\n  throw new Error('No uploaded file or Google Drive file id was provided.');\n}\nreturn [{ json, binary: uploadBinary ? { data: uploadBinary } : $binary }];"
      }
    },
    {
      "id": "has-uploaded-binary",
      "name": "Has Uploaded Binary?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1320,
        980
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasUploadedBinary }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "google-drive-search",
      "name": "Google Drive Search - Approved Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1560,
        1160
      ],
      "parameters": {
        "resource": "fileFolder",
        "queryString": "*",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "11ZgoEBFLJyF7rzFJ6QuRYZekJocq-W_T",
            "mode": "id"
          }
        },
        "options": {}
      }
    },
    {
      "id": "download-file",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1320,
        1160
      ],
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.driveFileId || $json.fileId || $json.id }}"
        },
        "options": {}
      }
    },
    {
      "id": "detect-file-type",
      "name": "Detect File Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1080,
        1160
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "renameOutput": true,
              "outputKey": "pdf",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $binary?.data?.mimeType || $json.file_type || $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              }
            },
            {
              "renameOutput": true,
              "outputKey": "text",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $binary?.data?.mimeType || $json.file_type || $json.mimeType }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              }
            },
            {
              "renameOutput": true,
              "outputKey": "markdown",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $binary?.data?.mimeType || $json.file_type || $json.mimeType }}",
                    "rightValue": "text/markdown",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              }
            },
            {
              "renameOutput": true,
              "outputKey": "csv",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $binary?.data?.mimeType || $json.file_type || $json.mimeType }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              }
            },
            {
              "renameOutput": true,
              "outputKey": "json",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $binary?.data?.mimeType || $json.file_type || $json.mimeType }}",
                    "rightValue": "application/json",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              }
            },
            {
              "renameOutput": true,
              "outputKey": "docx",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $binary?.data?.mimeType || $json.file_type || $json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              }
            },
            {
              "renameOutput": true,
              "outputKey": "image",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $binary?.data?.mimeType || $json.file_type || $json.mimeType }}",
                    "rightValue": "image/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                }
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "extract-pdf",
      "name": "Extract Text from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -840,
        1040
      ],
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "extract-text",
      "name": "Extract Text from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -840,
        1160
      ],
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "clean-and-chunk",
      "name": "Clean and Chunk Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        1160
      ],
      "parameters": {
        "jsCode": "const source = $('Prepare Document Training Input').first().json || {};\nconst raw = $json.text || $json.data || $json.content || $json.markdown || '';\nlet text = String(raw).replace(/\u0000/g, ' ').replace(/s+/g, ' ').trim();\nconst looksLikeHtml = /<!doctype html|<html[s>]|<script[s>]|window.__|webpack|vite|next-data|<body[s>]/i.test(text);\nconst tagCount = (text.match(/<[^>]+>/g) || []).length;\nconst wordCount = (text.match(/[a-z0-9]{2,}/gi) || []).length;\nconst repeatedJunk = /(.)\\1{80,}|(\\b\\w{1,3}\\b\\s*){80,}/i.test(text);\nconst previewPage = /preview unavailable|download this file|sign in to view|enable javascript|access denied/i.test(text);\nconst badExtraction = !text || wordCount < 30 || looksLikeHtml || (tagCount > 20 && tagCount > wordCount / 3) || repeatedJunk || previewPage;\nif (badExtraction) throw new Error('Document extraction quality was too low. Use OCR fallback for scanned PDFs, screenshots, receipts, forms, or photographed documents.');\nconst chunkSize = 2200; const overlap = 180; const chunks = [];\nfor (let i = 0; i < text.length; i += chunkSize - overlap) chunks.push({ json: { ...source, ...$json, chunkIndex: chunks.length, chunkText: text.slice(i, i + chunkSize), extractedTextLength: text.length, extractionQuality: { wordCount, badExtraction: false } } });\nreturn chunks;"
      }
    },
    {
      "id": "summarize-chunk-openai",
      "name": "Summarize Chunk - OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -360,
        1160
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "={{ 'Summarize this company knowledge chunk for retrieval. Return concise summary, key points, actions, deadlines, owners, departments, risks, and tags.\\n\\nChunk:\\n' + $json.chunkText }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "final-document-summary",
      "name": "Create Final Document Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        1160
      ],
      "parameters": {
        "jsCode": "const first = items[0]?.json || {};\nconst summaries = items.map(item => item.json.message?.content || item.json.output || '').filter(Boolean);\nconst detailed = summaries.join('\\n\\n');\nreturn [{ json: {\n  ...first,\n  summary_short: summaries[0]?.slice(0, 400) || '',\n  summary_detailed: detailed,\n  tags: first.tags || [],\n  status: 'trained',\n  chunks: items.map((item, index) => ({ index, summary: item.json.message?.content || '', text: item.json.chunkText || '' }))\n}}];"
      }
    },
    {
      "id": "save-document-supabase",
      "name": "Save Document Metadata to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        1160
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ ($vars.SUPABASE_URL || 'https://zirftywinscopzuuwdlg.supabase.co') + '/rest/v1/ai_documents' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "organization_id",
              "value": "={{ $json.organization_id || $json.context?.organizationId }}"
            },
            {
              "name": "document_name",
              "value": "={{ $json.file_name || $json.name || 'Uploaded document' }}"
            },
            {
              "name": "file_type",
              "value": "={{ $json.file_type || $binary?.data?.mimeType || 'unknown' }}"
            },
            {
              "name": "source",
              "value": "={{ $json.source || 'google_drive' }}"
            },
            {
              "name": "source_url",
              "value": "={{ $json.source_url || $json.webViewLink || null }}"
            },
            {
              "name": "uploaded_by",
              "value": "={{ $json.uploaded_by || $json.context?.userId || null }}"
            },
            {
              "name": "department",
              "value": "={{ $json.department || $json.context?.department || null }}"
            },
            {
              "name": "module",
              "value": "={{ $json.module || 'ai-workspace' }}"
            },
            {
              "name": "access_level",
              "value": "={{ $json.access_level || 'internal' }}"
            },
            {
              "name": "status",
              "value": "trained"
            },
            {
              "name": "summary_short",
              "value": "={{ $json.summary_short }}"
            },
            {
              "name": "summary_detailed",
              "value": "={{ $json.summary_detailed }}"
            },
            {
              "name": "tags",
              "value": "={{ $json.tags || [] }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "save-to-graphrag",
      "name": "Save Summary to InfraNodus GraphRAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        1160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://infranodus.com/api/v1/graphAndStatements?doNotSave=false&includeGraph=false&includeGraphSummary=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "ai_topic_marketing-guidance"
            },
            {
              "name": "text",
              "value": "={{ $json.summary_detailed }}"
            },
            {
              "name": "categories",
              "value": "={{ ['ITsNomatata', $json.department || 'General', $json.module || 'AI Workspace'].join(', ') }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "document-trained-response",
      "name": "Document Learned Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        1160
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  type: 'document_training',\n  message: 'Document learned and summarized successfully.',\n  documentId: $json.id || $json.document_id || null,\n  sourceUrl: $json.source_url || null,\n  attachments: [],\n  sources: $json.source_url ? [{ title: $json.document_name || 'Document', url: $json.source_url }] : []\n} }}",
        "options": {}
      }
    },
    {
      "id": "get-source-image",
      "name": "Get Source Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        -520
      ],
      "parameters": {
        "jsCode": "const source = $json;\nconst candidates = [];\nconst add = item => { if (item && typeof item === 'object') candidates.push(item); };\n(source.attachmentSources || []).forEach(add); (source.attachments || []).forEach(add); (source.context?.attachments || []).forEach(add); (source.context?.previousAttachments || []).forEach(add); (source.metadata?.attachments || []).forEach(add); (source.metadata?.previousAttachments || []).forEach(add);\nif (source.context?.lastGeneratedImage) add(source.context.lastGeneratedImage); if (source.metadata?.lastGeneratedImage) add(source.metadata.lastGeneratedImage);\nconst imageLike = item => { const value = String(item?.mimeType || item?.mime_type || item?.type || item?.name || item?.url || item?.download_url || '').toLowerCase(); return item?.type === 'image' || value.startsWith('image/') || /.(png|jpe?g|webp)(?|#|$)/i.test(String(item?.url || item?.download_url || item?.name || '')) || String(item?.url || item?.download_url || '').startsWith('data:image/'); };\nconst picked = candidates.find(imageLike);\nconst existingBinary = $binary?.image || $binary?.file || $binary?.data || null;\nif (!picked && !existingBinary) return [{ json: { ...source, imageSourceFound: false, userMessage: 'Please upload or select the image you want me to edit.' } }];\nconst rawUrl = String(picked?.download_url || picked?.url || picked?.image_url || '');\nconst isDataUrl = rawUrl.startsWith('data:image/'); const isUrl = /^https?:///i.test(rawUrl);\nreturn [{ json: { ...source, imageSourceFound: true, imageSource: picked || { name: existingBinary?.fileName || 'uploaded-image', mimeType: existingBinary?.mimeType || 'image/png' }, imageSourceUrl: isUrl ? rawUrl : '', imageSourceDataUrl: isDataUrl ? rawUrl : '', imageSourceIsUrl: isUrl, original_image: rawUrl || picked?.name || existingBinary?.fileName || 'uploaded image' }, binary: existingBinary ? { image: existingBinary } : $binary }];"
      }
    },
    {
      "id": "source-image-found",
      "name": "Source Image Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -180,
        -520
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.imageSourceFound }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "source-image-is-url",
      "name": "Source Image Is URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        60,
        -560
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.imageSourceIsUrl }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "download-source-image",
      "name": "Download Source Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        -660
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ $json.imageSourceUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image"
            }
          }
        }
      }
    },
    {
      "id": "prepare-image-edit-binary",
      "name": "Prepare Image Edit Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        -540
      ],
      "parameters": {
        "jsCode": "const item = $json;\nlet image = $binary?.image || $binary?.file || $binary?.data || null;\nif (!image && item.imageSourceDataUrl) { const match = String(item.imageSourceDataUrl).match(/^data:([^;]+);base64,(.+)$/); if (match) image = { data: match[2], mimeType: match[1], fileName: item.imageSource?.name || 'source-image.png' }; }\nif (!image?.data) return [{ json: { ...item, imageEditPreparationFailed: true, userMessage: 'I could not edit this image because no source image was found.' } }];\nreturn [{ json: { ...item, imageEditPreparationFailed: false }, binary: { image } }];"
      }
    },
    {
      "id": "build-image-edit-prompt",
      "name": "Build Image Edit Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        -540
      ],
      "parameters": {
        "jsCode": "const source = $('05 Permission + Tool Router').first().json;\nconst instruction = String(source.message || source.chatInput || '').replace(/\n[Context][sS]*$/, '').trim();\nconst prompt = ['Edit the provided image.', instruction || 'Improve the image quality while preserving the original subject.', 'Preserve the main subject, proportions, composition, quality, and realistic details unless the user explicitly asks to change them.', 'Preserve faces and identity if people are present.', 'Preserve logos and text unless the user asks to remove or change them.', 'Make the result high quality and realistic.', 'Follow the user instruction exactly and do not invent extra changes.'].join(' ');\nreturn [{ json: { ...$json, imageEditPrompt: prompt }, binary: $binary }];"
      }
    },
    {
      "id": "openai-image-edit",
      "name": "OpenAI Image Edit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        -540
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "image"
            },
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.imageEditPrompt }}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            },
            {
              "name": "n",
              "value": "={{ 1 }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "AMCuIhOcN1ffKYz9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "format-edited-image-response",
      "name": "Format Edited Image Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        -540
      ],
      "parameters": {
        "jsCode": "const source = $('05 Permission + Tool Router').first().json;\nconst editContext = $('Build Image Edit Prompt').first().json;\nconst b64 = $json.data?.[0]?.b64_json || $json.data?.b64_json || $json.b64_json;\nif (!b64) { const technical = $json.error?.message || $json.message || $json.error || 'No edited image data returned.'; return [{ json: { success: true, type: 'text', message: 'The image edit service failed, but your original image is safe. Please try a smaller image.', output: 'The image edit service failed, but your original image is safe. Please try a smaller image.', conversationId: source.conversationId || null, data: { internal_error: String(technical).slice(0, 500), prompt: editContext.imageEditPrompt }, attachments: [], sources: [] } }]; }\nconst imageUrl = 'data:image/png;base64,' + b64;\nreturn [{ json: { success: true, type: 'edited_image', message: 'Image edited successfully.', output: 'Image edited successfully.', conversationId: source.conversationId || null, data: { prompt: editContext.imageEditPrompt }, attachments: [{ type: 'image', name: 'edited-image.png', url: imageUrl, download_url: imageUrl, metadata: { source: 'openai_images_edit', model: 'gpt-image-1', original_image: editContext.original_image || null } }], sources: [] } }];"
      }
    },
    {
      "id": "image-edit-missing-source-response",
      "name": "Image Edit Missing Source Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        -340
      ],
      "parameters": {
        "jsCode": "const source = $('05 Permission + Tool Router').first().json;\nreturn [{ json: { success: true, type: 'text', message: 'Please upload or select the image you want me to edit.', output: 'Please upload or select the image you want me to edit.', conversationId: source.conversationId || null, attachments: [], sources: [] } }];"
      }
    },
    {
      "id": "get-ocr-source",
      "name": "Get OCR Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        260
      ],
      "parameters": {
        "jsCode": "const source = $json;\nconst candidates = []; const add = item => { if (item && typeof item === 'object') candidates.push(item); };\n(source.attachmentSources || []).forEach(add); (source.attachments || []).forEach(add); (source.context?.attachments || []).forEach(add); (source.metadata?.attachments || []).forEach(add);\nconst existingBinary = $binary?.document || $binary?.file || $binary?.data || $binary?.image || null;\nconst picked = candidates.find(item => item?.url || item?.download_url || item?.image_url || item?.mimeType || item?.name) || null;\nif (!picked && !existingBinary) return [{ json: { ...source, ocrSourceFound: false, userMessage: 'Please upload the document or image you want me to read.' } }];\nconst rawUrl = String(picked?.download_url || picked?.url || picked?.image_url || '');\nconst mime = picked?.mimeType || picked?.mime_type || existingBinary?.mimeType || (/.pdf(?|#|$)/i.test(rawUrl) ? 'application/pdf' : 'image/png');\nconst isDataUrl = rawUrl.startsWith('data:'); const isUrl = /^https?:///i.test(rawUrl);\nreturn [{ json: { ...source, ocrSourceFound: true, ocrSourceUrl: isUrl ? rawUrl : '', ocrSourceDataUrl: isDataUrl ? rawUrl : '', ocrSourceIsUrl: isUrl, ocrMimeType: mime, ocrFileName: picked?.name || existingBinary?.fileName || 'uploaded-document' }, binary: existingBinary ? { document: existingBinary } : $binary }];"
      }
    },
    {
      "id": "ocr-source-found",
      "name": "OCR Source Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -180,
        260
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ocrSourceFound }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "ocr-source-is-url",
      "name": "OCR Source Is URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        60,
        220
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ocrSourceIsUrl }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "download-ocr-source",
      "name": "Download OCR Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        120
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ $json.ocrSourceUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "document"
            }
          }
        }
      }
    },
    {
      "id": "prepare-openai-vision-ocr-request",
      "name": "Prepare OpenAI Vision OCR Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        240
      ],
      "parameters": {
        "jsCode": "const item = $json;\nlet doc = $binary?.document || $binary?.file || $binary?.data || $binary?.image || null;\nlet dataUrl = item.ocrSourceDataUrl || ''; let mime = item.ocrMimeType || doc?.mimeType || 'image/png';\nif (!dataUrl && doc?.data) dataUrl = 'data:' + mime + ';base64,' + doc.data;\nif (!dataUrl) return [{ json: { ...item, ocrPreparationFailed: true, userMessage: 'I could not read this file clearly. Please upload a clearer version or OCR-readable file.' } }];\nconst isPdf = /pdf/i.test(mime) || /.pdf$/i.test(item.ocrFileName || '');\nconst content = [{ type: 'input_text', text: 'Extract all readable text from this document/image. Preserve headings, paragraphs, tables, dates, totals, names, references, and important formatting. If something is unclear, mark it as [unclear]. Return only the extracted text first, then a short structured summary.' }];\nif (isPdf) content.push({ type: 'input_file', filename: item.ocrFileName || 'document.pdf', file_data: dataUrl }); else content.push({ type: 'input_image', image_url: dataUrl });\nreturn [{ json: { ...item, ocrPreparationFailed: false, openaiBody: { model: 'gpt-4.1-mini', input: [{ role: 'user', content }] } } }];"
      }
    },
    {
      "id": "openai-vision-ocr-fallback",
      "name": "OpenAI Vision OCR Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        240
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openaiBody) }}",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "AMCuIhOcN1ffKYz9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "format-ocr-response",
      "name": "Format OCR Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        240
      ],
      "parameters": {
        "jsCode": "const source = $('05 Permission + Tool Router').first().json;\nconst text = $json.output_text || ($json.output || []).flatMap(o => o.content || []).map(c => c.text || '').filter(Boolean).join('\n') || $json.text || '';\nconst wordCount = (text.match(/[A-Za-z0-9]{2,}/g) || []).length;\nif (!text || wordCount < 8 || $json.error) { const technical = $json.error?.message || $json.message || 'OCR returned too little readable text.'; return [{ json: { success: true, type: 'ocr_extraction', message: 'I could not read this file clearly. Please upload a clearer version or OCR-readable file.', output: 'I could not read this file clearly. Please upload a clearer version or OCR-readable file.', conversationId: source.conversationId || null, data: { internal_error: String(technical).slice(0, 500), wordCount }, attachments: [], sources: [] } }]; }\nreturn [{ json: { success: true, type: 'ocr_extraction', message: text, output: text, conversationId: source.conversationId || null, data: { wordCount, source: 'openai_vision_ocr', model: 'gpt-4.1-mini' }, attachments: [], sources: [] } }];"
      }
    },
    {
      "id": "ocr-missing-source-response",
      "name": "OCR Missing Source Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        420
      ],
      "parameters": {
        "jsCode": "const source = $('05 Permission + Tool Router').first().json;\nreturn [{ json: { success: true, type: 'ocr_extraction', message: 'Please upload the document or image you want me to read.', output: 'Please upload the document or image you want me to read.', conversationId: source.conversationId || null, attachments: [], sources: [] } }];"
      }
    },
    {
      "id": "validate-document-text-quality",
      "name": "Validate Document Text Quality",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -760,
        1160
      ],
      "parameters": {
        "jsCode": "const raw = $json.text || $json.data || $json.content || $json.markdown || '';\nconst text = String(raw).replace(/\u0000/g, ' ').replace(/s+/g, ' ').trim();\nconst looksLikeHtml = /<!doctype html|<html[s>]|<script[s>]|window.__|webpack|vite|next-data|<body[s>]/i.test(text);\nconst tagCount = (text.match(/<[^>]+>/g) || []).length;\nconst wordCount = (text.match(/[a-z0-9]{2,}/gi) || []).length;\nconst repeatedJunk = /(.)\\1{80,}|(\\b\\w{1,3}\\b\\s*){80,}/i.test(text);\nconst previewPage = /preview unavailable|download this file|sign in to view|enable javascript|access denied/i.test(text);\nconst documentTextGood = Boolean(text) && wordCount >= 30 && !looksLikeHtml && !(tagCount > 20 && tagCount > wordCount / 3) && !repeatedJunk && !previewPage;\nreturn [{ json: { ...$json, text, documentTextGood, extractionQuality: { wordCount, looksLikeHtml, tagCount, repeatedJunk, previewPage } }, binary: $binary }];"
      }
    },
    {
      "id": "document-text-quality-good",
      "name": "Document Text Quality Good?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        1160
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.documentTextGood }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "prepare-document-ocr-request",
      "name": "Prepare Document OCR Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        1320
      ],
      "parameters": {
        "jsCode": "const source = $('Prepare Document Training Input').first();\nconst sourceJson = source.json || {};\nconst sourceBinary = source.binary?.data || null;\nconst currentBinary = $binary?.data || $binary?.document || $binary?.file || $binary?.image || null;\nconst doc = currentBinary || sourceBinary;\nif (!doc?.data) throw new Error('OCR fallback could not find the original file binary.');\nconst mime = doc.mimeType || sourceJson.file_type || 'application/pdf';\nconst fileName = doc.fileName || sourceJson.file_name || 'document';\nconst dataUrl = 'data:' + mime + ';base64,' + doc.data;\nconst isImage = /^image//i.test(mime);\nconst content = [{ type: 'input_text', text: 'Extract all readable text from this document/image. Preserve headings, paragraphs, tables, dates, totals, names, references, and important formatting. If something is unclear, mark it as [unclear]. Return only the extracted text first, then a short structured summary.' }];\nif (isImage) content.push({ type: 'input_image', image_url: dataUrl }); else content.push({ type: 'input_file', filename: fileName, file_data: dataUrl });\nreturn [{ json: { ...sourceJson, openaiBody: { model: 'gpt-4.1-mini', input: [{ role: 'user', content }] }, ocrFallbackReason: $json.extractionQuality || null } }];"
      }
    },
    {
      "id": "openai-document-ocr-fallback",
      "name": "OpenAI Document OCR Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        1320
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openaiBody) }}",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "AMCuIhOcN1ffKYz9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "format-document-ocr-text",
      "name": "Format Document OCR Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        1320
      ],
      "parameters": {
        "jsCode": "const text = $json.output_text || ($json.output || []).flatMap(o => o.content || []).map(c => c.text || '').filter(Boolean).join('\n') || '';\nconst wordCount = (text.match(/[A-Za-z0-9]{2,}/g) || []).length;\nif (!text || wordCount < 8 || $json.error) throw new Error('OCR fallback could not read enough text from this file.');\nconst source = $('Prepare Document Training Input').first().json || {};\nreturn [{ json: { ...source, text, extraction_method: 'openai_vision_ocr', extractionQuality: { wordCount, ocrFallback: true } } }];"
      }
    }
  ],
  "connections": {
    "01 Chat Trigger - Frontend or n8n Chat": {
      "main": [
        [
          {
            "node": "02 Normalize Chat Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 Normalize Chat Payload": {
      "main": [
        [
          {
            "node": "03 Prepare User Context (Supabase Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04 Merge Request + User Context": {
      "main": [
        [
          {
            "node": "05 Permission + Tool Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05 Permission + Tool Router": {
      "main": [
        [
          {
            "node": "Route Image Generation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Image Generation?": {
      "main": [
        [
          {
            "node": "Get Source Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has OpenAI Image Key?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get OCR Source",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "06 Codex Main Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has OpenAI Image Key?": {
      "main": [
        [
          {
            "node": "Generate Image - OpenAI Direct",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Generation Config Missing Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image - OpenAI Direct": {
      "main": [
        [
          {
            "node": "Format OpenAI Image Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generation Config Missing Response": {
      "main": [
        [
          {
            "node": "07 Safe Response Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format OpenAI Image Response": {
      "main": [
        [
          {
            "node": "07 Safe Response Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Main Reasoning Model": {
      "ai_languageModel": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Project Memory": {
      "ai_memory": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Document Knowledge Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Private Memory Retrieval Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Private Memory Save Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "People Directory Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Research Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Image Fetch Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Image Analysis Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PDF Generator Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "File Export Tool": {
      "ai_tool": [
        [
          {
            "node": "06 Codex Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "06 Codex Main Agent": {
      "main": [
        [
          {
            "node": "07 Safe Response Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Training Trigger - Upload / Manual / Drive": {
      "main": [
        [
          {
            "node": "Prepare Document Training Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document Training Input": {
      "main": [
        [
          {
            "node": "Has Uploaded Binary?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Uploaded Binary?": {
      "main": [
        [
          {
            "node": "Detect File Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Search - Approved Folder": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Detect File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect File Type": {
      "main": [
        [
          {
            "node": "Extract Text from PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Document OCR Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from PDF": {
      "main": [
        [
          {
            "node": "Validate Document Text Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from File": {
      "main": [
        [
          {
            "node": "Validate Document Text Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean and Chunk Text": {
      "main": [
        [
          {
            "node": "Summarize Chunk - OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Chunk - OpenAI": {
      "main": [
        [
          {
            "node": "Create Final Document Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Final Document Summary": {
      "main": [
        [
          {
            "node": "Save Document Metadata to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Document Metadata to Supabase": {
      "main": [
        [
          {
            "node": "Save Summary to InfraNodus GraphRAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Summary to InfraNodus GraphRAG": {
      "main": [
        [
          {
            "node": "Document Learned Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 Prepare User Context (Supabase Optional)": {
      "main": [
        [
          {
            "node": "04 Merge Request + User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Source Image": {
      "main": [
        [
          {
            "node": "Source Image Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Source Image Found?": {
      "main": [
        [
          {
            "node": "Source Image Is URL?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Edit Missing Source Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Source Image Is URL?": {
      "main": [
        [
          {
            "node": "Download Source Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Image Edit Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Source Image": {
      "main": [
        [
          {
            "node": "Prepare Image Edit Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Edit Binary": {
      "main": [
        [
          {
            "node": "Build Image Edit Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Image Edit Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Image Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Image Edit": {
      "main": [
        [
          {
            "node": "Format Edited Image Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Edited Image Response": {
      "main": [
        [
          {
            "node": "07 Safe Response Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Edit Missing Source Response": {
      "main": [
        [
          {
            "node": "07 Safe Response Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OCR Source": {
      "main": [
        [
          {
            "node": "OCR Source Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Source Found?": {
      "main": [
        [
          {
            "node": "OCR Source Is URL?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR Missing Source Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Source Is URL?": {
      "main": [
        [
          {
            "node": "Download OCR Source",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare OpenAI Vision OCR Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download OCR Source": {
      "main": [
        [
          {
            "node": "Prepare OpenAI Vision OCR Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OpenAI Vision OCR Request": {
      "main": [
        [
          {
            "node": "OpenAI Vision OCR Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Vision OCR Fallback": {
      "main": [
        [
          {
            "node": "Format OCR Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format OCR Response": {
      "main": [
        [
          {
            "node": "07 Safe Response Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Missing Source Response": {
      "main": [
        [
          {
            "node": "07 Safe Response Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Document Text Quality": {
      "main": [
        [
          {
            "node": "Document Text Quality Good?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Text Quality Good?": {
      "main": [
        [
          {
            "node": "Clean and Chunk Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Document OCR Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document OCR Request": {
      "main": [
        [
          {
            "node": "OpenAI Document OCR Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Document OCR Fallback": {
      "main": [
        [
          {
            "node": "Format Document OCR Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Document OCR Text": {
      "main": [
        [
          {
            "node": "Clean and Chunk Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
