n8n/itsnomatata-notification-email.workflow.json
{
  "name": "Codex — Microsoft 365 Notification Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "itsnomatata-notification-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-notification-email",
      "name": "01 Webhook — Notification Email",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -900,
        200
      ],
      "webhookId": "itsnomatata-notification-email"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst headers = item.json.headers || {};\nconst body = item.json.body ?? item.json;\n\nconst expectedSecret = ($vars.NOTIFICATION_WEBHOOK_SECRET || '').trim();\nconst inboundSecret = String(\n  headers['x-notification-secret'] ||\n  headers['X-Notification-Secret'] ||\n  ''\n).trim();\n\nif (expectedSecret && inboundSecret !== expectedSecret) {\n  return [{ json: { ok: false, authorized: false, error: 'Invalid notification secret' } }];\n}\n\nconst to = String(body.to || '').trim();\nif (!to) {\n  return [{ json: { ok: false, authorized: true, error: 'Missing recipient email (to)' } }];\n}\n\nconst appUrl = 'https://codex.itsnomatata.com';\nconst fullName = String(body.fullName || 'Team Member').trim() || 'Team Member';\nconst firstName = String(body.firstName || fullName.split(/\\s+/)[0] || 'there');\nconst title = String(body.title || 'Notification').trim();\nconst message = String(body.message || title).trim();\nconst subject = String(body.subject || `${title} - Codex`).trim();\nconst metadata = body.metadata || {};\nconst actionPath = String(body.actionUrl || '/');\nconst actionUrl = actionPath.startsWith('http') ? actionPath : `${appUrl}${actionPath.startsWith('/') ? actionPath : '/' + actionPath}`;\n\nlet emailHtml = String(body.emailHtml || '').trim();\nif (!emailHtml) {\n  const sourceBadge = metadata.source_badge\n    || (metadata.feedback_source === 'client' ? 'Client review' : metadata.feedback_source === 'internal' ? 'Internal review' : null);\n  const reviewEvent = metadata.review_event ? String(metadata.review_event).replace(/_/g, ' ') : null;\n  const slot = metadata.display_slot != null ? `Post ${Number(metadata.display_slot) + 1}` : null;\n  const badgeStyle = sourceBadge === 'Client review'\n    ? 'background:#0ea5e920;color:#0369a1;border:1px solid #0ea5e966;'\n    : 'background:#f9731620;color:#c2410c;border:1px solid #f9731666;';\n  const badges = sourceBadge\n    ? `<p style=\"margin:0 0 16px;\"><span style=\"display:inline-block;padding:6px 12px;border-radius:999px;font-size:12px;font-weight:700;${badgeStyle}\">${sourceBadge}</span>${reviewEvent ? `<span style=\"display:inline-block;margin-left:8px;padding:6px 12px;border-radius:999px;font-size:12px;font-weight:600;background:#f4f4f5;color:#3f3f46;border:1px solid #e4e4e7;\">${reviewEvent}</span>` : ''}${slot ? `<span style=\"display:inline-block;margin-left:8px;padding:6px 12px;border-radius:999px;font-size:12px;font-weight:600;background:#fff7ed;color:#c2410c;border:1px solid #fed7aa;\">${slot}</span>` : ''}</p>`\n    : '';\n  emailHtml = `<div style=\"font-family:Arial,sans-serif;line-height:1.6;color:#111;\"><p style=\"margin:0 0 8px;font-size:12px;font-weight:700;letter-spacing:.08em;text-transform:uppercase;color:#ea580c;\">Codex</p><h2 style=\"margin:0 0 12px;\">${title}</h2>${badges}<p>Hi ${firstName},</p><p>${message.replace(/\\n/g, '<br/>')}</p><p><a href=\"${actionUrl}\" style=\"display:inline-block;background:#f97316;color:#000;text-decoration:none;padding:12px 18px;border-radius:8px;font-weight:700;\">Open in Codex</a></p></div>`;\n}\n\nconst textBody = [title, '', `Hi ${firstName},`, message, '', actionUrl].join('\\n');\n\nreturn [{\n  json: {\n    ok: true,\n    authorized: true,\n    to,\n    fullName,\n    firstName,\n    title,\n    message,\n    subject,\n    emailHtml,\n    textBody,\n    type: body.type || 'system_alert',\n    priority: body.priority || 'medium',\n    actionUrl,\n    metadata,\n    deliveryId: body.deliveryId || null,\n    notificationId: body.notificationId || null,\n    useHtml: true\n  }\n}];"
      },
      "id": "code-prepare-email",
      "name": "02 Code — Validate & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -660,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "authorized",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "has-to",
              "leftValue": "={{ $json.to }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-can-send",
      "name": "03 IF — Can Send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -420,
        200
      ]
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "bodyContent": "={{ $json.useHtml ? $json.emailHtml : $json.textBody }}",
        "additionalFields": {
          "bodyContentType": "={{ $json.useHtml ? 'html' : 'text' }}"
        }
      },
      "id": "outlook-send",
      "name": "04 Outlook — Send Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -160,
        80
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "lmwQwLP7AZcYPU6T",
          "name": "Microsoft Outlook account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, sent: true, to: $('02 Code — Validate & Prepare').item.json.to, subject: $('02 Code — Validate & Prepare').item.json.subject } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "05 Respond — Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        100,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, sent: false, error: $json.error?.message || $json.message || 'Outlook send failed' } }}",
        "options": {
          "responseCode": 502
        }
      },
      "id": "respond-outlook-fail",
      "name": "05B Respond — Outlook Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        100,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, sent: false, authorized: $json.authorized === true, error: $json.error || 'Unauthorized or invalid payload' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-reject",
      "name": "06 Respond — Rejected",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -160,
        360
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "schedule-queue",
      "name": "10 Schedule — Email Queue (backup)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -900,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($vars.SUPABASE_URL || '').replace(/\\/$/, '') + '/functions/v1/dispatch-notification-email' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { limit: 25 } }}",
        "options": {}
      },
      "id": "http-dispatch-queue",
      "name": "11 HTTP — Dispatch Queued Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -660,
        520
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "01 Webhook — Notification Email": {
      "main": [
        [
          {
            "node": "02 Code — Validate & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 Code — Validate & Prepare": {
      "main": [
        [
          {
            "node": "03 IF — Can Send?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 IF — Can Send?": {
      "main": [
        [
          {
            "node": "04 Outlook — Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "06 Respond — Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04 Outlook — Send Email": {
      "main": [
        [
          {
            "node": "05 Respond — Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "05B Respond — Outlook Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 Schedule — Email Queue (backup)": {
      "main": [
        [
          {
            "node": "11 HTTP — Dispatch Queued Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
