docs/n8n-notification-workflow.json
{
  "name": "Nomatata Notification System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nomatata-email-notifications-v2",
        "options": {}
      },
      "id": "88b4110e-aa04-4017-acc8-05af1b51706e",
      "name": "Receive Notification",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1152, 1120],
      "webhookId": "nomatata-email-notifications-v2"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.to ?? $json.to }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.type ?? $json.type }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.title ?? $json.title }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "17bf3fe1-2ec0-4e9a-acd4-9d275624a598",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-960, 1120]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst data = raw.body ?? raw;\n\nconst appUrl = 'https://itsnomatataworkspace.vercel.app';\nconst appName = 'Nomatata';\n\nconst actionUrl = data.actionUrl\n  ? (data.actionUrl.startsWith('http')\n      ? data.actionUrl\n      : `${appUrl}${data.actionUrl}`)\n  : appUrl;\n\nconst fullName = data.fullName ?? data.full_name ?? 'Team Member';\nconst firstName = fullName.split(' ')[0];\n\nconst metadata = data.metadata ?? {};\nmetadata.sentAt = new Date().toISOString();\nmetadata.notificationId = data.referenceId ?? data.entityId ?? 'unknown';\n\n// Check if frontend already generated email templates\nconst hasPreGeneratedEmail = data.emailHtml && data.subject;\n\nreturn [{\n  json: {\n    to: data.to ?? '',\n    fullName,\n    firstName,\n    title: data.title ?? 'You have a new notification',\n    message: data.message ?? '',\n    type: data.type ?? 'general',\n    priority: data.priority ?? 'medium',\n    actionUrl,\n    metadata,\n    appName,\n    appUrl,\n    emailHtml: data.emailHtml || null,\n    subject: data.subject || null,\n    hasPreGeneratedEmail,\n    originalPayload: data\n  }\n}];"
      },
      "id": "de4b3591-0237-4a45-9eea-f9a5bd354070",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-752, 1104]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasPreGeneratedEmail }}",
              "value2": true
            }
          ]
        }
      },
      "id": "4a371943-4c68-4daf-bd3d-3c40fcb853ee",
      "name": "Check Pre-Generated Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-560, 1104]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Use pre-generated email from frontend\nreturn [{\n  json: {\n    to: data.to,\n    fullName: data.fullName,\n    firstName: data.firstName,\n    subject: data.subject,\n    type: data.type,\n    priority: data.priority,\n    actionUrl: data.actionUrl,\n    emailHtml: data.emailHtml,\n    metadata: data.metadata,\n    source: 'frontend-generated'\n  }\n}];"
      },
      "id": "aeb8dad0-0933-4123-afd1-f6127441646d",
      "name": "Use Frontend Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-352, 1040]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst type = data.type;\nconst context = {\n  fullName: data.fullName,\n  firstName: data.firstName,\n  title: data.title,\n  message: data.message,\n  actionUrl: data.actionUrl,\n  metadata: data.metadata,\n  appName: data.appName,\n  appUrl: data.appUrl\n};\n\n// Generate email HTML based on type (fallback)\nlet emailHtml = '';\nlet subject = `${data.title} — ${data.appName}`;\n\nconst templates = {\n  leave_request_submitted: () => {\n    subject = `Leave Request Submitted — ${data.appName}`;\n    return `<h2>Leave Request Submitted</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">Review Request</a>`;\n  },\n  leave_request_approved: () => {\n    subject = `Leave Request Approved — ${data.appName}`;\n    return `<h2>Leave Request Approved ✅</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">View Details</a>`;\n  },\n  leave_request_rejected: () => {\n    subject = `Leave Request Rejected — ${data.appName}`;\n    return `<h2>Leave Request Rejected ❌</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">View Details</a>`;\n  },\n  meeting_invitation: () => {\n    subject = `Meeting Invitation — ${data.appName}`;\n    return `<h2>Meeting Invitation 📅</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">Accept Invitation</a>`;\n  },\n  meeting_reminder: () => {\n    subject = `Meeting Reminder — ${data.appName}`;\n    return `<h2>Meeting Reminder ⏰</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">Join Meeting</a>`;\n  },\n  meeting: () => {\n    subject = `New Meeting — ${data.appName}`;\n    return `<h2>New Meeting 📅</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">View Meeting</a>`;\n  },\n  approval_needed: () => {\n    subject = `Approval Required — ${data.appName}`;\n    return `<h2>Approval Required 📋</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">Review & Approve</a>`;\n  },\n  approval_approved: () => {\n    subject = `Request Approved — ${data.appName}`;\n    return `<h2>Request Approved ✅</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">View Details</a>`;\n  },\n  approval_rejected: () => {\n    subject = `Request Rejected — ${data.appName}`;\n    return `<h2>Request Rejected ❌</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">View Details</a>`;\n  },\n  approval_decision: () => {\n    subject = `Approval Decision — ${data.appName}`;\n    return `<h2>Approval Decision</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">View Details</a>`;\n  },\n  social_media_post_published: () => {\n    subject = `Social Media Post Published — ${data.appName}`;\n    return `<h2>Social Media Post Published 📱</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">View Post</a>`;\n  },\n  social_media_post_failed: () => {\n    subject = `Social Media Post Failed — ${data.appName}`;\n    return `<h2>Social Media Post Failed ⚠️</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">View Details</a>`;\n  },\n  task_assigned: () => {\n    subject = `New Task Assigned — ${data.appName}`;\n    return `<h2>New Task Assigned 📝</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">View Task</a>`;\n  },\n  task_updated: () => {\n    subject = `Task Updated — ${data.appName}`;\n    return `<h2>Task Updated 📝</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">View Task</a>`;\n  },\n  task_comment: () => {\n    subject = `New Task Comment — ${data.appName}`;\n    return `<h2>New Task Comment 💬</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">View Comment</a>`;\n  },\n  task_collaboration_invite: () => {\n    subject = `Task Collaboration Invite — ${data.appName}`;\n    return `<h2>Task Collaboration Invite 🤝</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">Accept Invite</a>`;\n  },\n  task_due_soon: () => {\n    subject = `Task Due Soon — ${data.appName}`;\n    return `<h2>Task Due Soon ⏰</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">View Task</a>`;\n  },\n  task_overdue: () => {\n    subject = `Task Overdue — ${data.appName}`;\n    return `<h2>Task Overdue 🚨</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">View Task</a>`;\n  },\n  chat_message: () => {\n    subject = `New Message — ${data.appName}`;\n    return `<h2>New Message 💬</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">Reply to Message</a>`;\n  },\n  announcement: () => {\n    subject = `New Announcement — ${data.appName}`;\n    return `<h2>New Announcement 📢</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">View Announcement</a>`;\n  },\n  system_alert: () => {\n    subject = `System Alert — ${data.appName}`;\n    return `<h2>System Alert 🚨</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">View Details</a>`;\n  },\n  automation: () => {\n    subject = `Automation Alert — ${data.appName}`;\n    return `<h2>Automation Alert ⚙️</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">View Details</a>`;\n  },\n  welcome: () => {\n    subject = `Welcome to ${data.appName}!`;\n    return `<h2>Welcome to ${data.appName}! 🎉</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">Get Started</a>`;\n  },\n  password_reset: () => {\n    subject = `Password Reset — ${data.appName}`;\n    return `<h2>Password Reset Request 🔐</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">Reset Password</a><p style=\"font-size: 12px; color: #737373;\">If you didn't request this, please ignore this email.</p>`;\n  }\n};\n\nconst templateFn = templates[type] || (() => `<h2>${data.title}</h2><p>Hi ${data.firstName},</p><p>${data.message}</p><a href=\"${data.actionUrl}\" class=\"button\">View Details</a>`);\n\nconst content = templateFn();\n\n// Build full HTML email\nemailHtml = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>${data.appName}</title>\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif; background-color: #0a0a0a; margin: 0; padding: 20px; }\n    .container { max-width: 600px; margin: 0 auto; background: #0a0a0a; border-radius: 16px; overflow: hidden; }\n    .header { background: linear-gradient(135deg, #f97316 0%, #ea580c 100%); padding: 32px; text-align: center; }\n    .header h1 { color: white; margin: 0; font-size: 24px; font-weight: 700; }\n    .content { padding: 32px; color: #ffffff; }\n    .content h2 { color: #ffffff; margin: 0 0 16px; font-size: 20px; font-weight: 600; }\n    .content p { color: #a3a3a3; line-height: 1.6; margin: 0 0 16px; }\n    .button { display: inline-block; background: #f97316; color: white; padding: 14px 32px; border-radius: 8px; text-decoration: none; font-weight: 600; margin: 16px 0; }\n    .button:hover { background: #ea580c; }\n    .footer { padding: 24px; text-align: center; color: #525252; font-size: 12px; border-top: 1px solid #262626; }\n    .footer a { color: #f97316; text-decoration: none; }\n    .metadata { background: #171717; padding: 16px; border-radius: 8px; margin: 16px 0; font-size: 13px; color: #737373; }\n    .metadata-item { margin: 8px 0; }\n    .metadata-label { color: #a3a3a3; font-weight: 500; }\n    .priority-high { border-left: 4px solid #ef4444; }\n    .priority-medium { border-left: 4px solid #f97316; }\n    .priority-low { border-left: 4px solid #22c55e; }\n  </style>\n</head>\n<body>\n  <div class=\"container priority-${data.priority}\">\n    <div class=\"header\">\n      <h1>${data.appName}</h1>\n    </div>\n    <div class=\"content\">\n      ${content}\n      ${renderMetadata(data.metadata)}\n    </div>\n    <div class=\"footer\">\n      <p>&copy; ${new Date().getFullYear()} ${data.appName}. All rights reserved.</p>\n      <p><a href=\"${data.appUrl}\">Visit ${data.appName}</a></p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nfunction renderMetadata(metadata) {\n  if (!metadata || Object.keys(metadata).length === 0) return '';\n  \n  const items = Object.entries(metadata)\n    .filter(([_, v]) => v !== undefined && v !== null && v !== '')\n    .map(([k, v]) => `<div class=\"metadata-item\"><span class=\"metadata-label\">${formatKey(k)}:</span> ${formatValue(v)}</div>`)\n    .join('');\n  \n  return items ? `<div class=\"metadata\">${items}</div>` : '';\n}\n\nfunction formatKey(key) {\n  return key.replace(/([A-Z])/g, ' $1').replace(/^./, str => str.toUpperCase()).trim();\n}\n\nfunction formatValue(value) {\n  if (typeof value === 'object' && value !== null) return JSON.stringify(value);\n  return String(value);\n}\n\nreturn [{\n  json: {\n    to: data.to,\n    fullName: data.fullName,\n    firstName: data.firstName,\n    subject,\n    type: data.type,\n    priority: data.priority,\n    actionUrl: data.actionUrl,\n    emailHtml,\n    metadata: data.metadata,\n    source: 'n8n-generated'\n  }\n}];"
      },
      "id": "b1c2d3e4-5678-90ab-cdef-1234567890ab",
      "name": "Generate Email Template (Fallback)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-352, 1168]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.to }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.emailHtml }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e103d8df-75c7-40e4-b576-2689fb77cc60",
      "name": "Validate Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-160, 1104]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.emailHtml }}",
        "options": {
          "senderName": "Nomatata",
          "replyTo": "noreply@itsnomatata.com"
        }
      },
      "id": "c2343c8e-530f-4778-a94e-1a5a18a411a6",
      "name": "Send via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [64, 1088],
      "webhookId": "202d4412-8512-41a5-88ff-30af5ccab0a5",
      "credentials": {
        "gmailOAuth2": {
          "id": "ApPVHPpUFrHH2M0n",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Email sent successfully', to: $json.to, type: $json.type, source: $json.source } }}",
        "options": {}
      },
      "id": "040e1c02-5df5-410f-bf7b-a7a47efcc1c7",
      "name": "Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [272, 1360]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconsole.log('EMAIL SENT:', JSON.stringify({ to: data.to, type: data.type, subject: data.subject, source: data.source }));\nreturn [{ json: { ...data, logged: true, loggedAt: new Date().toISOString() } }];"
      },
      "id": "9e3a290a-c9d2-44f8-8250-b6e4d850ec44",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [96, 1360]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconsole.log('SKIPPED EMAIL — missing to or html:', JSON.stringify({ to: data.to, hasHtml: !!data.emailHtml }));\nreturn [{ json: { skipped: true, reason: 'missing email or html', to: data.to, type: data.type } }];"
      },
      "id": "1dc8ffcc-d783-4225-8c3c-e42304259de2",
      "name": "Log Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-464, 1392]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Invalid email data', reason: $json.reason } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "6088b032-1280-4e2e-8f84-2d53d9ec3a6b",
      "name": "Response Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-208, 1392]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconsole.log('INVALID PAYLOAD:', JSON.stringify(data));\nreturn [{ json: { error: true, reason: 'invalid payload', received: data } }];"
      },
      "id": "e215e298-be20-4f80-acea-8e2f859360d0",
      "name": "Log Invalid Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 1360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Invalid payload', received: $json } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "3ab33fa5-9db5-4617-a71a-9b028e53a5b6",
      "name": "Response Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-800, 1360]
    },
    {
      "parameters": {
        "mode": "manual"
      },
      "id": "660a7b80-d98e-432b-bde8-75d57fe23e47",
      "name": "Handle Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [16, 1520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Failed to send email', details: $json.error } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "d17fedc6-b1e9-442e-b7d3-8d30362b20d3",
      "name": "Response Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [256, 1520]
    }
  ],
  "connections": {
    "Receive Notification": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Check Pre-Generated Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pre-Generated Email": {
      "main": [
        [
          {
            "node": "Use Frontend Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Email Template (Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Frontend Email": {
      "main": [
        [
          {
            "node": "Validate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email Template (Fallback)": {
      "main": [
        [
          {
            "node": "Validate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email": {
      "main": [
        [
          {
            "node": "Send via Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Gmail": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Skipped": {
      "main": [
        [
          {
            "node": "Response Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Error": {
      "main": [
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Invalid Payload": {
      "main": [
        [
          {
            "node": "Response Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error": {
      "main": [
        [
          {
            "node": "Response Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50e6bfa796b7843cf807280c4dfaf50c8d8481a53f2c542e4644133e795419bf"
  }
}
